@using DSIGE
@using DSIGE.Modelo
@using DSIGE.Negocio

@{
    ViewBag.Title = ".:: Generacion de Impresion de Repartos ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section instances{
    @Styles.Render("~/Content/dataTables-bootstrap/css/dataTables.bootstrap.min.css")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/dataTables.bootstrap.min.js")

    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
    @Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")

    @Scripts.Render("~/Content/bootstrap/js/bootstrap-filestyle.min.js")

    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/angular/angular.js")
    <script src="~/Content/pdf/jspdf.js"></script>

}

@section styles{
    <style type="text/css">
        .nav-tabs {
            border-bottom: 0;
        }

        #_archivo.btn-info {
            background-image: none;
            color: inherit;
            background-color: inherit !important;
        }

/*        .modal-dialog {
            width: 300px;
        }*/

        .datepicker {
            width: 200px;
        }

        .form-control {
            font-size: 11px;
            width: 100%;
            height: 35px;
        }

        input[type="text"] {
            font-size: 11px;
        }

        body {
            font-size: 10.5px;
            font-family: tahoma;
        }

        .label-primary {
            background-color: #337ab7;
            font-size: 11px;
        }
        .Julio table, th {
            background-color: #333 !important;
            color: white !important;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        var app = angular.module('MyApp', []).directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatFinished');
                        });
                    }
                }
            }
        }).directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);

        app.service('fileUpload', ['$http', function ($http) {
            this.uploadFileToUrl = function (idlocal, file, uploadUrl) {

                var fd = new FormData();
                fd.append('file', file);
                fd.append('idlocal', idlocal);
                $http.post(uploadUrl, fd, {

                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                })
                .success(function (data) {

                })
                .error(function () {

                });

            }
        }]);

        app.controller('MyController', function ($scope, $timeout, $http, fileUpload) {
            oTable = null;

            $(function () {
                $('#id_fecha_asignacion').datepicker({
                    format: 'dd/mm/yyyy',
                    language: 'es',
                    autoclose: true
                });
            });

            $scope.id_tipoCargo = 'T';

            $scope.iniciandoVariables = function () {
                setTimeout(function () {
                    $scope.id_tipoCargo = 'T';
                    $("select").select2();
                }, 0);
            }


            $scope.generar_impresion = function () {
                if ($scope.myFile == null) {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione el Archivo excel, gracias.',
                        type: 'error'
                    });
                } else {
                    $('.sige-load').show();
                    var file = $scope.myFile;
                    var uploadUrl = '@Url.Action("insert_file_excel")';

                    var fd = new FormData();
                    fd.append('file', file);

                    $http.post(uploadUrl, fd,
                        {
                            transformRequest: angular.identity,
                            headers: { 'Content-Type': undefined }
                        }).success(function (data) {
                            console.log(data);
                            if (data.length > 0) {
                                $scope.getPdf(data);
                                $('.sige-load').hide();
                            } else {
                                $('.sige-load').hide();
                            }

                        })
                        .error(function () {
                            alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                            $('.sige-load').hide();
                        });
                }
            };

            $scope.cargosDigital = false;
            $scope.generar_impresion_2 = function (tipo) {

                $scope.cargosDigital = (tipo == 2) ? true : false;
   
                var id_fecha_asignacion = document.getElementById('id_fecha_asignacion').value;

                if (id_fecha_asignacion == '') {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione o ingrese una Fecha de Asignación. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }


                $('.sige-load').show();
                var variables = {
                    method: 'POST',
                    url: '../GeneracionImpresionReparto/get_generacionReparto',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        fechaAsignacion: id_fecha_asignacion,
                        tipo: tipo,
                        tipoCargo : $scope.id_tipoCargo
                    }
                }
                $http(variables)
                    .success(function (data) {
                        $('.sige-load').hide();

                        $scope.progressGlobal = 0;

                        if (data.length > 0) {
                            if (tipo == 2) {
                                $scope.get_cargosDigitales(data);
                            } else {
                                $scope.getPdf_2(data);
                            }
                        } else {
                            new PNotify({
                                title: ' ',
                                text: 'No hay informacion para mostrar.',
                                type: 'error'
                            });
                        }
                    })
                    .error(function (err) {
                        $('.sige-load').hide();
                        console.log(err);
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };

            $scope.getPdf_2 = function (data) {
                var doc = new jsPDF('landscape');
                var hoy = new Date();
                var yyyy = hoy.getFullYear();

                var x = 17;
                var y = 5;

                var altura = 2;
                var alturaO = 0;
                var alturaV = 0;
                var ac_V = 0;
                var pos = 4;
                var inc = 0;
                var direc = '';

                var cantTotal = data.length;
                var ac = 0;

                var flagNull = false;
                var xx = 0;
                var yy = 0;
                var imgData = "";

                var generarImpresion = function (index) {

                    if (cantTotal == index) {
                        //var string = doc.output('datauristring');
                        //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                        //var x = window.open();
                        //x.document.open();
                        //x.document.write(iframe);
                        //x.document.close();
                        doc.save('reparto.pdf');
                        return;
                    }
                    inc++;
                    if (inc == 4) {
                        pos = 150;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                    } else if (inc == 7) {
                        pos = 4;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                        doc.addPage()
                        inc = 1;
                    }
                    doc.rect(pos, altura, 145, 68) //---dibujando un rectangulo
                    altura = altura + 2.5;
                    doc.setFontSize(7);
                    doc.setFontType("bold");
                    doc.text(pos + 50, altura, 'CARGO DE ENTREGA DE RECIBO ' + String(data[index].item)); // 60

                    doc.setFontSize(7);
                    doc.setFontType("normal");
                    altura = altura + 3;
                    doc.text(pos + 7, altura, 'Nro. Recibo : ' + data[index].nro_recibo); //11
                    doc.text(pos + 56, altura, 'CTA. CTO : ' + data[index].cuenta_contrato); //60
                    doc.text(pos + 106, altura, 'UL : ' + data[index].unidad_lectura);//110
                    altura = altura + 4;
                    doc.setFontSize(6);
                    direc = data[index].direccion;

                    doc.text(pos + 4, altura, 'DIRECCIÓN : ' + direc.substr(0, 107));//10
                    doc.setFontSize(7);
                    altura = altura + 4;
                    doc.text(pos + 14, altura, 'TIPO :     ' + data[index].tipo); //18
                    doc.text(pos + 56, altura, 'CICLO :' + data[index].ciclo); // 90
                    doc.text(pos + 86, altura, 'AÑO : ' + data[index].anio); // 90
                    doc.setFontSize(6);
                    doc.text(pos + 121, altura, String(data[index].correlativo)); // 125
                    doc.setFontSize(7);
                    altura = altura + 1.5;
                    doc.rect(pos + 25, altura, 118, 21) //---dibujando un rectangulo  30

                    if (ac_V == 0) {
                        alturaV = 20;
                        alturaO = 41;
                    } else if (ac_V == 1) {
                        alturaV = 90;
                        alturaO = 111;
                    } else if (ac_V == 2) {
                        alturaV = 159;
                        alturaO = 181;
                    }

                    doc.text(pos + 27, alturaV, 'Piso'); // 31
                    doc.text(pos + 50, alturaV, 'Vivienda');// 54
                    doc.text(pos + 74, alturaV, 'Color/Fachada');// 78
                    doc.text(pos + 98, alturaV, 'Puerta');// 102
                    doc.text(pos + 121, alturaV, 'Color puerta');// 125

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31 
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54 
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125 

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Uno');  //37
                    doc.text(pos + 56, alturaV, 'Casa');//60
                    doc.text(pos + 80, alturaV, 'Crema');//84
                    doc.text(pos + 104, alturaV, 'Madera');//108
                    doc.text(pos + 127, alturaV, 'Plomo');//131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3); doc.text(pos + 28.5, alturaV - 0.5, data[index].piso_1);  //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3); doc.text(pos + 51.5, alturaV - 0.5, data[index].vivienda_casa);//---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3); doc.text(pos + 75.5, alturaV - 0.5, data[index].fachada_crema);//---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3); doc.text(pos + 99.5, alturaV - 0.5, data[index].puerta_madera); //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3); doc.text(pos + 122.5, alturaV - 0.5, data[index].puertaColor_plomo);  //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Dos'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_2); // 37
                    doc.text(pos + 56, alturaV, 'Dpto.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_dpto);// 60
                    doc.text(pos + 80, alturaV, 'Blanco'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_blanco);// 84
                    doc.text(pos + 104, alturaV, 'Vidrio'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_vidrio);// 108
                    doc.text(pos + 127, alturaV, 'Negro'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_negro);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3)  //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Tres'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_3); // 37
                    doc.text(pos + 56, alturaV, 'Quinta.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_quinta);// 60
                    doc.text(pos + 80, alturaV, 'Ladrillo'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_ladrillo); // 84
                    doc.text(pos + 104, alturaV, 'Metal'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_metal); // 108
                    doc.text(pos + 127, alturaV, 'Marron'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_marron);// 131

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Cuatro'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_4); // 37
                    doc.text(pos + 56, alturaV, 'Tienda.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_tienda); // 60
                    doc.text(pos + 80, alturaV, 'Tarrajeo'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_tarrajeo);// 84
                    doc.text(pos + 104, alturaV, 'Otros'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_otros); // 108
                    doc.text(pos + 127, alturaV, 'Madera'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_madera);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Otros:'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_otros); doc.text(pos + 40, alturaV, String(data[index].piso_otros_dscrip));// 37
                    doc.text(pos + 56, alturaV, 'Otros:'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_otros); doc.text(pos + 64, alturaV, data[index].vivienda_otros_dscrip); // 60
                    doc.text(pos + 80, alturaV, 'Otros:'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_otros); doc.text(pos + 87, alturaV, data[index].fachada_otros_dscrip); // 84 
                    doc.text(pos + 127, alturaV, 'Otros:'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_otro); doc.text(pos + 134, alturaV, data[index].puertaColor_otros_dscrip);// 131

                    ac_V += 1;

                    altura = altura + 4;
                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Recibido por : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_titular); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Titular'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_familiar); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Familiar'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_empleado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Empleado/a');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_vigilante); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Vigilante');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_buzon); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Buzón');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_bajoPuerta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Bajo Puerta');//12


                    doc.setFontType("bold");
                    //doc.text(pos + 27, alturaO, 'Obs.' + data[index].observaciones);   // 31
                    var splitTitle = doc.splitTextToSize(data[index].observaciones, 120);
                    doc.text(pos + 27, alturaO, 'Obs.'); doc.text(pos + 33, alturaO, splitTitle);
                    doc.setFontType("normal");
                    doc.text(pos + 33, alturaO, ' ______________________________________________________________________________'); //117

                    imgData = String(data[index].ruta_foto)
                    //imgData = String('../content/foto/foto/10109278_04092018_1441302710.jpg');  
                    flagNull = false;
                    xx = 0;
                    yy = 0;

                    if (imgData == '' || imgData == null || imgData == undefined) {
                        flagNull = true;
                    }

                    if (flagNull == false) {
                        xx = pos + 56;
                        yy = alturaO + 1;
                    }


                    alturaO = alturaO + 13;
                    doc.text(pos + 113, alturaO, 'Fecha Max. ' + data[index].fechaMaxima); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 113, alturaO, 'Fecha Entrega ' + data[index].fechaEntrega); //117

                    doc.text(pos + 51, alturaO - 3, '___________________________'); // 56
                    alturaO = alturaO + 1;
                    doc.text(pos + 56, alturaO, 'Cliente Titular SI   NO'); //60
                    alturaO = alturaO + 4;
                    doc.setFontSize(6);
                    doc.text(pos + 34, alturaO, 'NOMBRE : ' + data[index].nombreCliente.substr(0, 50)); // 38
                    doc.setFontSize(7);
                    doc.text(pos + 113, alturaO, 'Cod. Repartidor : ' + data[index].codRepartidor); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 41, alturaO, 'DNI : ' + data[index].dni); // 45
                    doc.text(pos + 69, alturaO, 'Parentesco : ' + data[index].parentesco); //73

                    altura = altura + 5;

                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Devuelto : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_mudo); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Se mudó'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_noTrabaja);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Ya no trabaja');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_dirIncompleta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. Incompleta');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_rechazado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Rechazado');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_desconocido);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Desconocido');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_dirNoexiste);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. No existe');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_clienteAusente); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Cliente ausente');//12
                    altura = altura + 4;

                    if (flagNull == false) {
                        var img = new Image;
                        img.onload = function () {
                            doc.addImage(this, 'JPEG', xx, yy, 27, 14);
                            generarImpresion(index + 1);
                        };
                        img.crossOrigin = "";
                        img.src = imgData;  // some random imgur image
                    } else {
                        generarImpresion(index + 1);
                    }
                }

                generarImpresion(0);


            }

            $scope.getPdf = function (data) {
                var doc = new jsPDF('landscape');
                var hoy = new Date();
                var yyyy = hoy.getFullYear();



                var x = 17;
                var y = 5;

                var altura = 2;
                var alturaO = 0;
                var alturaV = 0;
                var ac_V = 0;
                var pos = 4;
                var inc = 0;
                var direc = '';

                for (obj of data) {
                    //---- 180 ancho, 100 altura
                    //doc.rect(4, altura, 145, 68) //---dibujando un rectangulo                   
                    inc++;
                    if (inc == 4) {
                        pos = 150;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                    } else if (inc == 7) {
                        pos = 4;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                        doc.addPage()
                        inc = 1;
                    }
                    doc.rect(pos, altura, 145, 68) //---dibujando un rectangulo
                    altura = altura + 2.5;
                    doc.setFontSize(7);
                    doc.setFontType("bold");
                    doc.text(pos + 50, altura, 'CARGO DE ENTREGA DE RECIBO ' + String(obj.ITEM)); // 60

                    doc.setFontSize(7);
                    doc.setFontType("normal");
                    altura = altura + 3;
                    doc.text(pos + 7, altura, 'Nro. Recibo : ' + obj.NRO_RECIBO); //11
                    doc.text(pos + 56, altura, 'CTA. CTO : ' + obj.CONTRATO); //60
                    doc.text(pos + 106, altura, 'UL : ' + obj.UNIDAD_LECTURA);//110
                    altura = altura + 4;
                    doc.setFontSize(6);
                    direc = obj.DISTRITO + ' ' + obj.URBANIZACION_FACTURACION + ' ' + obj.DIRECCION;

                    doc.text(pos + 4, altura, 'DIRECCIÓN : ' + direc.substr(0, 107));//10
                    doc.setFontSize(7);
                    altura = altura + 4;
                    doc.text(pos + 14, altura, 'TIPO :     ' + obj.TIPO); //18
                    doc.text(pos + 56, altura, 'CICLO :' + obj.CICLO + ' ' + obj.MES); // 90
                    doc.text(pos + 86, altura, 'AÑO : ' + yyyy); // 90
                    doc.setFontSize(6);
                    doc.text(pos + 121, altura, String(obj.CORRELA)); // 125
                    doc.setFontSize(7);
                    altura = altura + 1.5;
                    doc.rect(pos + 25, altura, 118, 23) //---dibujando un rectangulo  30

                    if (ac_V == 0) {
                        alturaV = 20;
                        alturaO = 44;
                    } else if (ac_V == 1) {
                        alturaV = 90;
                        alturaO = 114;
                    } else if (ac_V == 2) {
                        alturaV = 159;
                        alturaO = 184;
                    }

                    doc.text(pos + 27, alturaV, 'Piso'); // 31
                    doc.text(pos + 50, alturaV, 'Vivienda');// 54
                    doc.text(pos + 74, alturaV, 'Color/Fachada');// 78
                    doc.text(pos + 98, alturaV, 'Puerta');// 102
                    doc.text(pos + 121, alturaV, 'Color puerta');// 125

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31 
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54 
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125 

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Uno'); //37
                    doc.text(pos + 56, alturaV, 'Casa');//60
                    doc.text(pos + 80, alturaV, 'Crema');//84
                    doc.text(pos + 104, alturaV, 'Madera');//108
                    doc.text(pos + 127, alturaV, 'Plomo');//131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Dos'); // 37
                    doc.text(pos + 56, alturaV, 'Dpto.');// 60
                    doc.text(pos + 80, alturaV, 'Blanco');// 84
                    doc.text(pos + 104, alturaV, 'Vidrio');// 108
                    doc.text(pos + 127, alturaV, 'Negro');// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'tres'); // 37
                    doc.text(pos + 56, alturaV, 'Quinta.');// 60
                    doc.text(pos + 80, alturaV, 'Ladrillo');// 84
                    doc.text(pos + 104, alturaV, 'Metal');// 108
                    doc.text(pos + 127, alturaV, 'Marron');// 131

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Cuatro'); // 37
                    doc.text(pos + 56, alturaV, 'Tienda.');// 60
                    doc.text(pos + 80, alturaV, 'Tarrajeo');// 84
                    doc.text(pos + 104, alturaV, 'Otros');// 108
                    doc.text(pos + 127, alturaV, 'Madera');// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Otros: _____'); // 37
                    doc.text(pos + 56, alturaV, 'Otros: _____');// 60
                    doc.text(pos + 80, alturaV, 'Otros: _____');// 84 
                    doc.text(pos + 127, alturaV, 'Otros: _____');// 131

                    ac_V += 1;

                    altura = altura + 4;
                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Recibido por : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Titular'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Familiar'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Empleado/a');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Vigilante');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Buzón');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Bajo Puerta');//12


                    doc.setFontType("bold");
                    doc.text(pos + 27, alturaO, 'Obs.');   // 31
                    doc.setFontType("normal");

                    doc.text(pos + 33, alturaO, ' ______________________________________________________________________________'); //117
                    doc.text(pos + 33, alturaO + 5, ' ______________________________________________________________________________'); //117 + 5

                    alturaO = alturaO + 9;
                    doc.text(pos + 113, alturaO, 'Fecha Max. ' + $scope.formatDate(obj.F_MAX)); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 113, alturaO, 'Fecha Entrega _________'); //117

                    doc.text(pos + 51, alturaO - 3, '___________________________'); // 56
                    alturaO = alturaO + 1;
                    doc.text(pos + 56, alturaO, 'Cliente Titular SI   NO'); //60
                    alturaO = alturaO + 4;
                    doc.setFontSize(6);
                    doc.text(pos + 34, alturaO, 'NOMBRE : ' + obj.NOMBRE.substr(0, 50)); // 38
                    doc.setFontSize(7);
                    doc.text(pos + 113, alturaO, 'Cod. Repartidor : ' + obj.COD_TRAB); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 41, alturaO, 'DNI : ______________'); // 45
                    doc.text(pos + 69, alturaO, 'Parentesco :______________________'); //73
                    doc.text(pos + 113, alturaO, '________________'); // 117

                    altura = altura + 5;

                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Devuelto : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Se mudó'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Ya no trabaja');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. Incompleta');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Rechazado');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Desconocido');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. No existe');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3) //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Cliente ausente');//12
                    altura = altura + 4;
                }

                //var string = doc.output('datauristring');
                //var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                //var x = window.open();
                //x.document.open();
                //x.document.write(iframe);
                //x.document.close();
                doc.save('reparto.pdf');
            }

            $scope.formatDate = function (dateVal) {
                if (dateVal == null) {
                    return "";
                }
                function padValue(value) {
                    return (value < 10) ? "0" + value : value;
                }
                var newDate = new Date(dateVal);

                var sMonth = padValue(newDate.getMonth() + 1);
                var sDay = padValue(newDate.getDate());
                var sYear = newDate.getFullYear();
                return sDay + "/" + sMonth + "/" + sYear
            }

            $scope.dowload_file = function () {
                window.open("../formatos/FORMATO_IMPRESION_REPARTO.xls");
            }

            $scope.getPdf_antiguosinFoto = function (data) {
                var doc = new jsPDF('landscape');
                var hoy = new Date();
                var yyyy = hoy.getFullYear();

                var x = 17;
                var y = 5;

                var altura = 2;
                var alturaO = 0;
                var alturaV = 0;
                var ac_V = 0;
                var pos = 4;
                var inc = 0;
                var direc = '';

                var cantTotal = data.length;
                var ac = 0;

                var flagNull = false;
                var xx = 0;
                var yy = 0;
                var imgData = "";

                for (obj of data) {
                    //if (ac > 0) {

                    //    break;
                    //}
                    //ac = 1 + ac;

                    inc++;
                    if (inc == 4) {
                        pos = 150;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                    } else if (inc == 7) {
                        pos = 4;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                        doc.addPage()
                        inc = 1;
                    }
                    doc.rect(pos, altura, 145, 68) //---dibujando un rectangulo 
                    altura = altura + 2.5;
                    doc.setFontSize(7);
                    doc.setFontType("bold");
                    doc.text(pos + 50, altura, 'CARGO DE ENTREGA DE RECIBO ' + String(obj.item)); // 60

                    doc.setFontSize(7);
                    doc.setFontType("normal");
                    altura = altura + 3;
                    doc.text(pos + 7, altura, 'Nro. Recibo : ' + obj.nro_recibo); //11
                    doc.text(pos + 56, altura, 'CTA. CTO : ' + obj.cuenta_contrato); //60
                    doc.text(pos + 106, altura, 'UL : ' + obj.unidad_lectura);//110
                    altura = altura + 4;
                    doc.setFontSize(6);
                    direc = obj.direccion;

                    doc.text(pos + 4, altura, 'DIRECCIÓN : ' + direc.substr(0, 107));//10
                    doc.setFontSize(7);
                    altura = altura + 4;
                    doc.text(pos + 14, altura, 'TIPO :     ' + obj.tipo); //18
                    doc.text(pos + 56, altura, 'CICLO :' + obj.ciclo); // 90
                    doc.text(pos + 86, altura, 'AÑO : ' + obj.anio); // 90
                    doc.setFontSize(6);
                    doc.text(pos + 121, altura, String(obj.correlativo)); // 125
                    doc.setFontSize(7);
                    altura = altura + 1.5;
                    doc.rect(pos + 25, altura, 118, 21) //---dibujando un rectangulo  30

                    if (ac_V == 0) {
                        alturaV = 20;
                        alturaO = 41;
                    } else if (ac_V == 1) {
                        alturaV = 90;
                        alturaO = 111;
                    } else if (ac_V == 2) {
                        alturaV = 159;
                        alturaO = 181;
                    }

                    doc.text(pos + 27, alturaV, 'Piso'); // 31
                    doc.text(pos + 50, alturaV, 'Vivienda');// 54
                    doc.text(pos + 74, alturaV, 'Color/Fachada');// 78
                    doc.text(pos + 98, alturaV, 'Puerta');// 102
                    doc.text(pos + 121, alturaV, 'Color puerta');// 125

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31 
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54 
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125 

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Uno');  //37
                    doc.text(pos + 56, alturaV, 'Casa');//60
                    doc.text(pos + 80, alturaV, 'Crema');//84
                    doc.text(pos + 104, alturaV, 'Madera');//108
                    doc.text(pos + 127, alturaV, 'Plomo');//131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3); doc.text(pos + 28.5, alturaV - 0.5, obj.piso_1);  //---dibujando un rectangulo 31 
                    doc.rect(pos + 50, alturaV, 5, 3); doc.text(pos + 51.5, alturaV - 0.5, obj.vivienda_casa);//---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3); doc.text(pos + 75.5, alturaV - 0.5, obj.fachada_crema);//---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3); doc.text(pos + 99.5, alturaV - 0.5, obj.puerta_madera); //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3); doc.text(pos + 122.5, alturaV - 0.5, obj.puertaColor_plomo);  //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Dos'); doc.text(pos + 28.5, alturaV + 0.5, obj.piso_2); // 37
                    doc.text(pos + 56, alturaV, 'Dpto.'); doc.text(pos + 51.5, alturaV + 0.5, obj.vivienda_dpto);// 60
                    doc.text(pos + 80, alturaV, 'Blanco'); doc.text(pos + 75.5, alturaV + 0.5, obj.fachada_blanco);// 84
                    doc.text(pos + 104, alturaV, 'Vidrio'); doc.text(pos + 99.5, alturaV + 0.5, obj.puerta_vidrio);// 108
                    doc.text(pos + 127, alturaV, 'Negro'); doc.text(pos + 122.5, alturaV + 0.5, obj.puertaColor_negro);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3)  //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Tres'); doc.text(pos + 28.5, alturaV + 0.5, obj.piso_3); // 37
                    doc.text(pos + 56, alturaV, 'Quinta.'); doc.text(pos + 51.5, alturaV + 0.5, obj.vivienda_quinta);// 60
                    doc.text(pos + 80, alturaV, 'Ladrillo'); doc.text(pos + 75.5, alturaV + 0.5, obj.fachada_ladrillo); // 84
                    doc.text(pos + 104, alturaV, 'Metal'); doc.text(pos + 99.5, alturaV + 0.5, obj.puerta_metal); // 108
                    doc.text(pos + 127, alturaV, 'Marron'); doc.text(pos + 122.5, alturaV + 0.5, obj.puertaColor_marron);// 131

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Cuatro'); doc.text(pos + 28.5, alturaV + 0.5, obj.piso_4); // 37
                    doc.text(pos + 56, alturaV, 'Tienda.'); doc.text(pos + 51.5, alturaV + 0.5, obj.vivienda_tienda); // 60
                    doc.text(pos + 80, alturaV, 'Tarrajeo'); doc.text(pos + 75.5, alturaV + 0.5, obj.fachada_tarrajeo);// 84
                    doc.text(pos + 104, alturaV, 'Otros'); doc.text(pos + 99.5, alturaV + 0.5, obj.puerta_otros); // 108
                    doc.text(pos + 127, alturaV, 'Madera'); doc.text(pos + 122.5, alturaV + 0.5, obj.puertaColor_madera);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Otros:'); doc.text(pos + 28.5, alturaV + 0.5, obj.piso_otros); doc.text(pos + 40, alturaV, String(obj.piso_otros_dscrip));// 37
                    doc.text(pos + 56, alturaV, 'Otros:'); doc.text(pos + 51.5, alturaV + 0.5, obj.vivienda_otros); doc.text(pos + 64, alturaV, obj.vivienda_otros_dscrip); // 60
                    doc.text(pos + 80, alturaV, 'Otros:'); doc.text(pos + 75.5, alturaV + 0.5, obj.fachada_otros); doc.text(pos + 87, alturaV, obj.fachada_otros_dscrip); // 84 
                    doc.text(pos + 127, alturaV, 'Otros:'); doc.text(pos + 122.5, alturaV + 0.5, obj.puertaColor_otro); doc.text(pos + 134, alturaV, obj.puertaColor_otros_dscrip);// 131

                    ac_V += 1;

                    altura = altura + 4;
                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Recibido por : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_titular); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Titular'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_familiar); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Familiar'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_empleado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Empleado/a');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_vigilante); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Vigilante');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_buzon); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Buzón');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.recibido_bajoPuerta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Bajo Puerta');//12


                    doc.setFontType("bold");
                    //doc.text(pos + 27, alturaO, 'Obs.' + obj.observaciones);   // 31
                    var splitTitle = doc.splitTextToSize(obj.observaciones, 120);
                    doc.text(pos + 27, alturaO, 'Obs.'); doc.text(pos + 33, alturaO, splitTitle);
                    doc.setFontType("normal");
                    doc.text(pos + 33, alturaO, ' ______________________________________________________________________________'); //117


                    //doc.text(pos + 51, alturaO - 4, obj.clienteTitular); // 56

                    //var imgData = String(obj_data.ruta_foto_1)
                    var imgData = String('../content/foto/foto/10109278_04092018_1441302710.jpg');
                    var img = new Image;
                    img.onload = function () {
                        doc.addImage(this, 'JPEG', pos + 55, alturaO - 25, 27, 14);
                        generarPDF();
                    };
                    img.crossOrigin = "";
                    img.src = imgData;  // some random imgur image


                    alturaO = alturaO + 13;
                    doc.text(pos + 113, alturaO, 'Fecha Max. ' + $scope.formatDate(obj.fechaMaxima)); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 113, alturaO, 'Fecha Entrega ' + $scope.formatDate(obj.fechaEntrega)); //117

                    //doc.text(pos + 51, alturaO - 4, obj.clienteTitular); // 56
                    doc.text(pos + 51, alturaO - 3, '___________________________'); // 56
                    alturaO = alturaO + 1;
                    doc.text(pos + 56, alturaO, 'Cliente Titular SI   NO'); //60
                    alturaO = alturaO + 4;
                    doc.setFontSize(6);
                    doc.text(pos + 34, alturaO, 'NOMBRE : ' + obj.nombreCliente.substr(0, 50)); // 38
                    doc.setFontSize(7);
                    doc.text(pos + 113, alturaO, 'Cod. Repartidor : ' + obj.codRepartidor); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 41, alturaO, 'DNI : ' + obj.dni); // 45
                    doc.text(pos + 69, alturaO, 'Parentesco : ' + obj.parentesco); //73
                    //doc.text(pos + 113, alturaO, '________________'); // 117

                    altura = altura + 5;

                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Devuelto : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_mudo); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Se mudó'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_noTrabaja);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Ya no trabaja');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_dirIncompleta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. Incompleta');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_rechazado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Rechazado');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_desconocido);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Desconocido');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_dirNoexiste);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. No existe');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, obj.devuelto_clienteAusente); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Cliente ausente');//12
                    altura = altura + 4;

                }



                var generarPDF = function () {
                    var string = doc.output('datauristring');
                    var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";
                    var x = window.open();
                    x.document.open();
                    x.document.write(iframe);
                    x.document.close();
                    ////doc.save('reparto.pdf');
                }
            }

            $scope.progressGlobal = 0;
            $scope.get_cargosDigitales = function (data) {

                //var doc = new jsPDF({
                //    orientation: 'landscape',
                //    unit: 'mm',
                //    format: [149, 72]
                //})
                var hoy = new Date();
                var yyyy = hoy.getFullYear();

                var x = 17;
                var y = 5;

                var altura = 2;
                var alturaO = 0;
                var alturaV = 0;
                var ac_V = 0;
                var pos = 2;
                var inc = 0;
                var direc = '';

                let registros = (100 / data.length);
                let cantTotal = data.length;

                var ac = 0;

                var flagNull = false;
                var xx = 0;
                var yy = 0;
                var imgData = "";
                var progress = 0;


                var generarImpresion = function (index) {

                    if (cantTotal == index) {
                        $scope.progressGlobal = 100;
                        $scope.$apply();
                        return;
                    }

                    var doc = new jsPDF({
                        orientation: 'landscape',
                        unit: 'mm',
                        format: [149, 72]
                    })
                    x = 17;
                    y = 5;

                    altura = 2;
                    alturaO = 0;
                    alturaV = 0;
                    ac_V = 0;
                    pos = 2;
                    inc = 0;
                    direc = '';

                    ac = 0;

                    flagNull = false;
                    xx = 0;
                    yy = 0;
                    imgData = "";
                    progress = 0;

                    //------

                    progress = (index == 0) ? 1 : index;
                    $scope.progressGlobal = (registros * progress);
                    $scope.$apply();                

                    inc++;
                    if (inc == 4) {
                        pos = 150;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                    } else if (inc == 7) {
                        pos = 4;
                        altura = 2;
                        alturaO = 0;
                        alturaV = 0;
                        ac_V = 0;
                        doc.addPage()
                        inc = 1;
                    }
                    doc.rect(pos, altura, 145, 68) //---dibujando un rectangulo
                    altura = altura + 2.5;
                    doc.setFontSize(7);
                    doc.setFontType("bold");
                    doc.text(pos + 50, altura, 'CARGO DE ENTREGA DE RECIBO ' + String(data[index].item)); // 60

                    doc.setFontSize(7);
                    doc.setFontType("normal");
                    altura = altura + 3;
                    doc.text(pos + 7, altura, 'Nro. Recibo : ' + data[index].nro_recibo); //11
                    doc.text(pos + 56, altura, 'CTA. CTO : ' + data[index].cuenta_contrato); //60
                    doc.text(pos + 106, altura, 'UL : ' + data[index].unidad_lectura);//110
                    altura = altura + 4;
                    doc.setFontSize(6);
                    direc = data[index].direccion;

                    doc.text(pos + 4, altura, 'DIRECCIÓN : ' + direc.substr(0, 107));//10
                    doc.setFontSize(7);
                    altura = altura + 4;
                    doc.text(pos + 14, altura, 'TIPO :     ' + data[index].tipo); //18
                    doc.text(pos + 56, altura, 'CICLO :' + data[index].ciclo); // 90
                    doc.text(pos + 86, altura, 'AÑO : ' + data[index].anio); // 90
                    doc.setFontSize(6);
                    doc.text(pos + 121, altura, String(data[index].correlativo)); // 125
                    doc.setFontSize(7);
                    altura = altura + 1.5;
                    doc.rect(pos + 25, altura, 118, 21) //---dibujando un rectangulo  30

                    if (ac_V == 0) {
                        alturaV = 20;
                        alturaO = 41;
                    } else if (ac_V == 1) {
                        alturaV = 90;
                        alturaO = 111;
                    } else if (ac_V == 2) {
                        alturaV = 159;
                        alturaO = 181;
                    }

                    doc.text(pos + 27, alturaV, 'Piso'); // 31
                    doc.text(pos + 50, alturaV, 'Vivienda');// 54
                    doc.text(pos + 74, alturaV, 'Color/Fachada');// 78
                    doc.text(pos + 98, alturaV, 'Puerta');// 102
                    doc.text(pos + 121, alturaV, 'Color puerta');// 125

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31 
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54 
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125 

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Uno');  //37
                    doc.text(pos + 56, alturaV, 'Casa');//60
                    doc.text(pos + 80, alturaV, 'Crema');//84
                    doc.text(pos + 104, alturaV, 'Madera');//108
                    doc.text(pos + 127, alturaV, 'Plomo');//131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3); doc.text(pos + 28.5, alturaV - 0.5, data[index].piso_1);  //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3); doc.text(pos + 51.5, alturaV - 0.5, data[index].vivienda_casa);//---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3); doc.text(pos + 75.5, alturaV - 0.5, data[index].fachada_crema);//---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3); doc.text(pos + 99.5, alturaV - 0.5, data[index].puerta_madera); //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3); doc.text(pos + 122.5, alturaV - 0.5, data[index].puertaColor_plomo);  //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Dos'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_2); // 37
                    doc.text(pos + 56, alturaV, 'Dpto.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_dpto);// 60
                    doc.text(pos + 80, alturaV, 'Blanco'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_blanco);// 84
                    doc.text(pos + 104, alturaV, 'Vidrio'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_vidrio);// 108
                    doc.text(pos + 127, alturaV, 'Negro'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_negro);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3)  //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Tres'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_3); // 37
                    doc.text(pos + 56, alturaV, 'Quinta.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_quinta);// 60
                    doc.text(pos + 80, alturaV, 'Ladrillo'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_ladrillo); // 84
                    doc.text(pos + 104, alturaV, 'Metal'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_metal); // 108
                    doc.text(pos + 127, alturaV, 'Marron'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_marron);// 131

                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Cuatro'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_4); // 37
                    doc.text(pos + 56, alturaV, 'Tienda.'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_tienda); // 60
                    doc.text(pos + 80, alturaV, 'Tarrajeo'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_tarrajeo);// 84
                    doc.text(pos + 104, alturaV, 'Otros'); doc.text(pos + 99.5, alturaV + 0.5, data[index].puerta_otros); // 108
                    doc.text(pos + 127, alturaV, 'Madera'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_madera);// 131


                    alturaV = alturaV + 1.2;
                    doc.rect(pos + 27, alturaV, 5, 3) //---dibujando un rectangulo 31
                    doc.rect(pos + 50, alturaV, 5, 3) //---dibujando un rectangulo 54
                    doc.rect(pos + 74, alturaV, 5, 3) //---dibujando un rectangulo 78
                    doc.rect(pos + 98, alturaV, 5, 3) //---dibujando un rectangulo 102
                    doc.rect(pos + 121, alturaV, 5, 3) //---dibujando un rectangulo 125

                    alturaV = alturaV + 2;
                    doc.text(pos + 33, alturaV, 'Otros:'); doc.text(pos + 28.5, alturaV + 0.5, data[index].piso_otros); doc.text(pos + 40, alturaV, String(data[index].piso_otros_dscrip));// 37
                    doc.text(pos + 56, alturaV, 'Otros:'); doc.text(pos + 51.5, alturaV + 0.5, data[index].vivienda_otros); doc.text(pos + 64, alturaV, data[index].vivienda_otros_dscrip); // 60
                    doc.text(pos + 80, alturaV, 'Otros:'); doc.text(pos + 75.5, alturaV + 0.5, data[index].fachada_otros); doc.text(pos + 87, alturaV, data[index].fachada_otros_dscrip); // 84 
                    doc.text(pos + 127, alturaV, 'Otros:'); doc.text(pos + 122.5, alturaV + 0.5, data[index].puertaColor_otro); doc.text(pos + 134, alturaV, data[index].puertaColor_otros_dscrip);// 131

                    ac_V += 1;

                    altura = altura + 4;
                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Recibido por : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_titular); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Titular'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_familiar); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Familiar'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_empleado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Empleado/a');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_vigilante); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Vigilante');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_buzon); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Buzón');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].recibido_bajoPuerta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Bajo Puerta');//12


                    doc.setFontType("bold");
                    //doc.text(pos + 27, alturaO, 'Obs.' + data[index].observaciones);   // 31
                    var splitTitle = doc.splitTextToSize(data[index].observaciones, 120);
                    doc.text(pos + 27, alturaO, 'Obs.'); doc.text(pos + 33, alturaO, splitTitle);
                    doc.setFontType("normal");
                    doc.text(pos + 33, alturaO, ' ______________________________________________________________________________'); //117

                    imgData = String(data[index].ruta_foto)
                    //imgData = String('../content/foto/foto/10109278_04092018_1441302710.jpg');  
                    flagNull = false;
                    xx = 0;
                    yy = 0;

                    if (imgData == '' || imgData == null || imgData == undefined) {
                        flagNull = true;
                    }

                    if (flagNull == false) {
                        xx = pos + 56;
                        yy = alturaO + 1;
                    }


                    alturaO = alturaO + 13;
                    doc.text(pos + 113, alturaO, 'Fecha Max. ' + data[index].fechaMaxima); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 113, alturaO, 'Fecha Entrega ' + data[index].fechaEntrega); //117

                    doc.text(pos + 51, alturaO - 3, '___________________________'); // 56
                    alturaO = alturaO + 1;
                    doc.text(pos + 56, alturaO, 'Cliente Titular SI   NO'); //60
                    alturaO = alturaO + 4;
                    doc.setFontSize(6);
                    doc.text(pos + 34, alturaO, 'NOMBRE : ' + data[index].nombreCliente.substr(0, 50)); // 38
                    doc.setFontSize(7);
                    doc.text(pos + 113, alturaO, 'Cod. Repartidor : ' + data[index].codRepartidor); // 117
                    alturaO = alturaO + 4;
                    doc.text(pos + 41, alturaO, 'DNI : ' + data[index].dni); // 45
                    doc.text(pos + 69, alturaO, 'Parentesco : ' + data[index].parentesco); //73

                    altura = altura + 5;

                    doc.setFontType("bold");
                    doc.text(pos + 3, altura, 'Devuelto : ');//7
                    altura = altura + 1.2;
                    doc.setFontType("normal");
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_mudo); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Se mudó'); //12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_noTrabaja);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Ya no trabaja');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_dirIncompleta); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. Incompleta');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_rechazado);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Rechazado');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_desconocido);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Desconocido');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_dirNoexiste);  //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Dir. No existe');//12
                    altura = altura + 1.2;
                    doc.rect(pos + 2, altura, 5, 3); doc.text(pos + 3.5, altura + 2.5, data[index].devuelto_clienteAusente); //---dibujando un rectangulo 6
                    altura = altura + 2;
                    doc.text(pos + 8, altura, 'Cliente ausente');//12
                    altura = altura + 4;

                    if (flagNull == false) {
                        var img = new Image;
                        img.onload = function () {
                            doc.addImage(this, 'JPEG', xx, yy, 27, 14);
                            
                            console.log(index + ':' + data[index].cuenta_contrato + '.pdf')
                            doc.save(data[index].cuenta_contrato + '.pdf');

                            setTimeout(function () {
                                generarImpresion(index + 1);
                            }, 500);

                        };
                        img.crossOrigin = "";
                        img.src = imgData;  // some random imgur image
                    } else {
                        console.log(index + ':' + data[index].cuenta_contrato + '.pdf')
                        doc.save(data[index].cuenta_contrato + '.pdf');
                        setTimeout(function () {
                            generarImpresion(index + 1);
                        }, 100);
                    }
                }

                generarImpresion(0);


            }

        });
    </script>
}

<div ng-app="MyApp" ng-controller="MyController" ng-init="iniciandoVariables();">


    <div class="panel panel-oscuro">
        <div class="panel-heading"> 
            <h6><i class="fa fa-table fa-lg"></i> Generacion de Impresion de Reparto</h6>  
        </div>
        <div class="panel-body">
            <div class="container" style="background-color:white !important;color:black;height:350px;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block well" style="width: 400px">

                            <div class="row">
                                <div class=" col-md-12">
                                    <label for="id_tipoCargo" class="control-label"> TIPO DE CARGO </label>
                                    <br />
                                    <select id="id_tipoCargo" class="control-control" style="width: 100%" ng-model="id_tipoCargo">
                                        <option value='T'> [---TODOS----] </option>
                                        <option value='R'> RESIDENCIALES </option>
                                        <option value='C'> COMERCIALES </option>
                                        <option value='I'> INDUSTRIALES </option>
                                        <option value='NC'> NOTA DE CREDITO </option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class=" col-md-12">
                
                                        <label for="_usuario" class="control-label"> FECHA ASIGNACION </label>
                                        <input class="form-control julio" style="    text-align: center;" id="id_fecha_asignacion" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
           
                                </div>
                            </div>
                            <hr />
                            <div class="row" style="text-align:center">
                                <div class=" col-md-12 ">
                                    <button class="btn btn-sm btn-default" ng-click="generar_impresion_2(1);"><span class="glyphicon glyphicon-unchecked"></span> Impresión Blanco</button>
                                    <button class="btn btn-sm btn-info" ng-click="generar_impresion_2(2);"><span class="glyphicon glyphicon-saved"></span> Impresión Cargos Digitales</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="row" ng-if="cargosDigital  ">
                    <div class="col-sm-3 col-md-3">
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progressGlobal}}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{progressGlobal}}%">
                                {{progressGlobal | number : 2}}%
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />

                <br />
                <br />
                <br />



            </div>




        </div>
    </div>
 
</div>
 

