@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


@section instances{

    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table/locale/bootstrap-table-es-MX.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/angular/angular.js")
 
}
 

@section styles{
    <style type="text/css">
        .fixed-table-toolbar .search {
            line-height: 0;
        }
    </style>
}
@section scripts{
    <script type="text/javascript"> 
         
        var app = angular.module('appParametrosConsumo', []); 
        app.controller('ParametrosConsumoCtrl', function ($scope, $http) {
            $scope.PB_Modo_Edicion = false;
            $scope.PS_Filtro_busqueda = "";
            $scope.PS_valorestado;

            $scope.Modo_Edicion = function (valor) {
                $scope.PB_Modo_Edicion = valor;
            }
            var id_parametro, nombre, valor, estado;

            id_parametro = document.getElementById('id_parametro');
            nombre = document.getElementById('nombre');
            valor = document.getElementById('valor');
            estado = document.getElementById('estado');

            $scope.LimpiarCajastexto = function () {           
                id_parametro = document.getElementById('id_parametro');
                nombre = document.getElementById('nombre');
                valor = document.getElementById('valor');
                estado = document.getElementById('estado');
                id_parametro.value =0
                nombre.value = "";
                valor.value  = 0;
                estado.checked = true;
            }

            $scope.ListandoParametrosConsumo = function () {
                var variables = {
                    method: 'POST',
                    url: '../Parametro_Consumo/ListandoParametrosConsumo',
                    headers: {
                                 'Content-Type': 'application/json; charset=utf-8'
                             }
                }
                $http(variables)
                .success(function (data) {       
                    $scope.ListadeParametrosGenerales = data;
                })
                .error(function () {
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
            };
            //inicilizando
            $scope.ListandoParametrosConsumo()


            //guardando la informacion

  
   
            $scope.GuardandoInformacion = function () {
           
               
                id_parametro = document.getElementById('id_parametro');
                nombre = document.getElementById('nombre');
                valor = document.getElementById('valor');
                estado = document.getElementById('estado');

                var cancel = document.getElementById('btnCancelar');

 
                if (nombre.value == '') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor ingrese la descripción del Parámetro. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }


                if (valor.value == '') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor ingrese el valor del Parámetro. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }
                else {

                    if (valor.value <= 0) {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor ingrese un valor Positivo. Muchas gracias.',
                            type: 'error'
                        });

                        return;
                    }
                }


                var Tipo_Mant = "";
                var _status = 0;
                    
                if (estado.checked == true) {
                    _status = 1;
                } else {
                    _status = 2;
                }

                if ($scope.PB_Modo_Edicion == true) {
                    Tipo_Mant = "U"
                } else {
                    Tipo_Mant = "I"
                }


               
                var variables = {
                    method: 'POST',
                    url: '../Parametro_Consumo/GuardandoInformacion',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        //Parametros de  la Funcion del Controlador
                        id_parametro: id_parametro.value,
                        nombre: nombre.value,
                        valor: valor.value,
                        estado: _status,
                        Tipo_Mant: Tipo_Mant
                    }
                }

                    
                $http(variables)
                .success(function (data) {

                    if (data == "true") {
                        $("#modal-parametros_consumo").modal('hide');

                        $scope.ListandoParametrosConsumo(); // asincrona
                        $scope.LimpiarCajastexto(); // sincrona

                        new PNotify({
                            title: ' ',
                            text: 'Proceso generado Exitosamente.',
                            type: 'success'
                        });
                    }
                })

                .error(function () {
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
                    
                };

            //Modo_Edicion
                $scope.EditarRegistro = function (item) {

                    var _status

                    if (item.estado == 1) {
                        _status = true;
                    }
                    else {
                        _status = false
                    }

                    id_parametro.value = item.id_parametro;
                    nombre.value = item.nombre;
                    valor.value = item.valor;
                    estado.checked = _status;
                }

            /// anulando 
            
                $scope.AnulandoRegistro = function (id_parametro) {

                    //"1"  -- activo
                    //"2"  -- anulado

                    var estado_anul = "2"

                    var variables = {
                        method: 'POST',
                        url: '../Parametro_Consumo/AnulandoRegistro',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        data: {
                            //Parametros de  la Funcion del Controlador                               
                            id_parametro: id_parametro,
                            estado_anul: estado_anul
                        }
                    }

                    $http(variables)
                    .success(function (data) {

                        if (data == "true") {
                            //Cargando la informacion de los Estudiantes
                            $scope.ListandoParametrosConsumo(); // asincrona

                            new PNotify({
                                title: ' ',
                                text: 'Anulado Exitosamente.',
                                type: 'success'
                            });
                        }
                    })

                .error(function () {
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });

                }

            // AUDITORIA

                $scope.AuditoriaRegistro = function (id_parametro) {
                    //"1"  -- activo
                    //"2"  -- anulado                    
                    var variables = {
                        method: 'POST',
                        url: '../Parametro_Consumo/AuditoriaRegistro',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        data: {
                            //Parametros de  la Funcion del Controlador                               
                            id_parametro: id_parametro
                        }
                    }

                    $('.sige-load').show();

                    $http(variables)
                    .success(function (data) {                                      
                        $('.sige-load').hide();                  
                                new PNotify({
                                title: 'Auditoria: registro',
                                text: '<b>Registrado por</b>: ' + data[0].nombre_usu_crea
                                    + '<br /><b>Fecha de registro</b>: ' + data[0].fecha_creacion
                                    + '<br /><b>Modificado por</b>: ' + data[0].nombre_usu_modi
                                    + '<br /><b>Fecha de modificacion</b>: ' + data[0].fecha_edicion,
                                type: 'info'
                            });           
                     })

                .error(function () {
                    $('.sige-load').hide();
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
                }                               
        })


        function fnParametros() {
            return {
                type: 'owner',
                sort: 'updated',
                direction: 'desc',
                per_page: 100,
                page: 1
            };
        }

        $(function () {
            $('.fixed-table-toolbar > .search').css('width', '170px');
            $('.fixed-table-toolbar > .search').addClass('input-group');
         
            $('.fixed-table-toolbar > .search').append('<div class="input-group-btn"><button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="fnBusca(\'\')">Estado <span class="caret"></span></button><ul class="dropdown-menu"><li onclick="fnBusca(\'.Activo\')"><a href="javascript:">Activo</a></li><li onclick="fnBusca(\'.Inactivo\')"><a href="javascript:">Inactivo</a></li></ul></div>');
        })

        $(window).resize(function () {
            $('#table-registro').bootstrapTable('resetView');
        });

        function fnBusca(__a) {
            $('.fixed-table-toolbar > .search > input').val(__a);
            $('.fixed-table-toolbar > .search > input').trigger('keyup');
        }



        function estadoFormatter(__val) {
            var $html;

            if (__val == 2) {
                $html = '<i style=\" color: #e73c3c; \" class=\"fa fa-times fa-lg .inactivo\"></i>';
            } else {
                $html = '<i style=\" color: #4f8edc; \" class=\"fa fa-check fa-lg .activo\"></i>';
            }

            return $html;
        }

        function fnIsNumeric(__e) {
            var charCode = (__e.which) ? __e.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }


        function SoloNumerosDecimales3(e, valInicial, nEntero, nDecimal) {
            var obj = e.srcElement || e.target;
            var tecla_codigo = (document.all) ? e.keyCode : e.which;
            var tecla_valor = String.fromCharCode(tecla_codigo);
            var patron2 = /[\d.]/;
            var control = (tecla_codigo === 46 && (/[.]/).test(obj.value)) ? false : true;
            var existePto = (/[.]/).test(obj.value);

            //el tab
            if (tecla_codigo === 8)
                return true;

            if (valInicial !== obj.value) {
                var TControl = obj.value.length;
                if (existePto === false && tecla_codigo !== 46) {
                    if (TControl === nEntero) {
                        obj.value = obj.value + ".";
                    }
                }

                if (existePto === true) {
                    var subVal = obj.value.substring(obj.value.indexOf(".") + 1, obj.value.length);

                    if (subVal.length > 1) {
                        return false;
                    }
                }

                return patron2.test(tecla_valor) && control;
            }
            else {
                if (valInicial === obj.value) {
                    obj.value = '';
                }
                return patron2.test(tecla_valor) && control;
            }
        }


    </script>
}

<div ng-app="appParametrosConsumo" ng-controller="ParametrosConsumoCtrl">

    <div class="panel panel-oscuro">
        <div class="panel-heading">
            <h6><i class="fa fa-table fa-lg"></i> MAESTRO PARÁMETROS DE CONSUMO</h6>
        </div>
        <div class="panel-body">                     
               <form class="form-horizontal">
                   <div class="row">
                       <div role="group" class="btn-group btn-group-sm col-md-8" >
                           <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-parametros_consumo" ng-click="Modo_Edicion(false);LimpiarCajastexto()"><i class="fa fa-plus fa-lg"></i> Nuevo</button>
                       </div>
                       <div class="col-md-4">
                           <div class="form-group">
                               <label for="txt_buscar" class="control-label col-md-6">Buscar:</label>
                               <div class="col-md-6 ">
                                   <input class="form-control" type="text" id="txt_buscar" ng-model="PS_Filtro_busqueda" placeholder="Buscar">
                               </div>
                           </div>
                       </div>
                   </div>
               </form>            
 

            <table id="tblLista" class="table  table-responsive table-bordered  table-condensed">
                <thead style="background:#F0F3F5;">
                    <tr>
                        <th>Id</th>
                        <th>Descripcion</th>
                        <th>Valor</th>
                        <th>Estado</th>
                        <th colspan="3"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ListadeParametrosGenerales | filter:PS_Filtro_busqueda " ng-style="item.estado === 2 && {'background-color':'rgba(255, 0, 0, 0.31)'}  || item.estado === '1' && {'background-color':'white'}" on-finish-render="ngRepeatFinished">
                        <td style="width:50px; ">{{item.id_parametro}}</td>
                        <td style="width:1400px; ">{{item.nombre}}</td>
                        <td style="width:80px;">{{item.valor}}</td>
                        <td style="width:100px;" align="center" ng-if="item.estado==1"><i style="color: #4f8edc;" class="fa fa-check fa-lg .activo"></i></td>
                        <td style="width:100px;" align="center" ng-if="item.estado==2"><i style="color: #e73c3c;" class="fa fa-times fa-lg .inactivo"></i></td>
                        <td style="width:400px;" align="center">
                            <div class="btn-group btn-group-xs" role="group" aria-label="Mantenimiento">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modal-parametros_consumo" ng-click="Modo_Edicion(true);EditarRegistro(item)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
                                <button class="btn btn-xs btn-danger" ng-click="AnulandoRegistro(item.id_parametro)"><span class="glyphicon glyphicon-trash"></span> Anular</button>
                                <button class="btn btn-xs btn-info" ng-click="AuditoriaRegistro(item.id_parametro)"><span class="glyphicon glyphicon-edit"></span> Auditoria</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal-parametros_consumo" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="panel panel-oscuro">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i> PARAMETROS DE CONSUMO</h6>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label for="_id" class="col-sm-3 control-label">ID</label>
                            <div class="col-sm-6">
                                <input disabled="disabled" class="form-control" id="id_parametro" placeholder="Codigo" type="text" value="0">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="_descripcion" class="col-sm-3 control-label">Descripcion</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="nombre" placeholder="Descripcion del parámetro de consumo" type="text">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="_descripcion" class="col-sm-3 control-label">Valor</label>
                            <div class="col-sm-6">
                                <input style="width:120px;" class="form-control" id="valor" placeholder="Valor parámetro" type="text" onkeypress="return SoloNumerosDecimales3(event, '0.0', 4, 2)">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="_estado" class="col-sm-3 control-label">Estado</label>
                            <div class="col-sm-6">
                                <div class="checkbox block">
                                    <label><input type="checkbox" id="estado"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                <button role="button"  style=" background-color: #245580;color: #fff;"  class="btn btn-primary" ng-click="GuardandoInformacion()"><i class="fa fa-save fa-lg"></i>Guardar</button>
                                <button role="button" id="btnCancelar" class="btn btn-default"  style="background-color: #fff;" data-dismiss="modal" ng-click="Modo_Edicion(false)"><i class="fa fa-close fa-lg"></i>Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

</div>