@using System.Configuration
@using DSIGE
@using DSIGE.Modelo
@using DSIGE.Negocio

@{
    ViewBag.Title = ".:: Seguimiento Operarios GPS ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es"></script>
<script src="~/Content/Mapa/gmaps.js"></script>
<script src="~/Content/Mapa/jsSeguimientoOperador.js"></script>
@section instances{

    @Scripts.Render("~/Content/Mapa/gmaps.js")

    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table/locale/bootstrap-table-es-MX.js")

    @Scripts.Render("~/Content/bootstrap/js/bootstrap-toggle.min.js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-toggle.min.css")

    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
    @Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")
}

@section styles{

    <style type="text/css">
        .fixed-table-toolbar .search {
            line-height: 0;
        }

        .nav-tabs {
            border-bottom: 0;
        }

        #_archivo.btn-info {
            background-image: none;
            color: inherit;
            background-color: inherit !important;
        }

        .datepicker {
            width: 200px;
            top: 150px !important;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        var rutaJulio = '/Calidda'
        // var rutaJulio = ''
        var $ruta = '@ConfigurationManager.AppSettings["servidor-foto-lectura"]';

        //inicializando fechas
        $(function () {
            $('#_fechaAsigna').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });
        })

        //fin inicializando fechas

        function load() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map"));
                map.setCenter(new GLatLng(-19.435514, 48.603516), 5);
            }
        }


        $(function () {
            funct_map_resize();
            map = new GMaps({
                div: '#map',

                zoom: 5, center: new google.maps.LatLng(-9.2435385, -75.0195145), mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
                scrollwheel: true, panControl: false, zoomControl: true,
                zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.RIGHT_TOP },
                mapTypeControl: false, scaleControl: true, streetViewControl: true, overviewMapControl: false
            });
            map.addControl({
                position: 'left_top', content: '<i class="fa fa-male" style="color:#337AB7;font-size:20px;" ></i>  Operario Inicio Recorrido <p/>  <i class="fa fa-male" style="color:#1EB500;font-size:20px;" ></i>  Operario Recorrido <p/> <i class="fa fa-minus" style="color:#75D166;font-size:20px;" ></i>  Ruta de Operador <p/><img class="img-ubi" src="' + rutaJulio + '/Content/Imagen/ope_ubicacion.png" alt="" />Ubicación <p/><img class="img-paro" src="' + rutaJulio + '/Content/Imagen/ope_paro.png" alt="" />Parada <p/> <i class="fa fa-male" style="color:#F7C367;font-size:20px;" ></i>  Operario Termino Recorrido <p/> ' +
                //position: 'left_top', content: '<i class="fa fa-male" style="color:#337AB7;font-size:20px;" ></i>  Operario Inicio Recorrido <p/>  <i class="fa fa-male" style="color:#1EB500;font-size:20px;" ></i>  Operario Recorrido <p/> <i class="fa fa-minus" style="color:#75D166;font-size:20px;" ></i>  Ruta de Operador <p/><img class="img-ubi" src="/Content/Imagen/ope_ubicacion.png" alt="" />Ubicación <p/><img class="img-paro" src="/Content/Imagen/ope_paro.png" alt="" />Parada <p/> <i class="fa fa-male" style="color:#F7C367;font-size:20px;" ></i>  Operario Termino Recorrido <p/> ' +
                       '-------------------------------------------------- <p/><i class="fa fa-map-marker" style="color:#939393;font-size:20px;" ></i> Inicio Lectura <p/> <i class="fa fa-map-marker" style="color:#337AB7;font-size:20px;" ></i> Suministro Recorrido <p/> <i class="fa fa-minus" style="color:#337AB7;font-size:20px;" ></i>  Ruta de Suministro <p/> <i class="fa fa-map-marker" style="color:#D9534F;font-size:20px;" ></i> Pendiente <p/> <i class="fa fa-map-marker" style="color:#FF00FF;font-size:20px;" ></i> Termino Recorrido',
                style: { margin: '5px', padding: '10px', border: 'solid 1px #717B87', background: '#fff' },
            });
        });

        $(document).on('click', '#btnBuscar', function (e) {

            map.removeMarkers();
            map.removePolylines();

            if ($("#_operario").val() == 0) {
                alert('Seleccione un Operario...');
                return;
            }

            funct_mover_mapa();
            funct_recorrido();
        });

        function funct_mover_mapa() {
            google.maps.event.trigger(map, 'resize');
            map.map.setCenter(new google.maps.LatLng(-9.2435385, -75.0195145));
            map.map.setZoom(5);
        }

        function funct_recorrido() {

            map.removePolylines();
            map.removeMarkers();

            //recorrido lectura

            var list = [];
            if ($("#idservicios").val() == 0) {
                $("#idservicios option").each(function () {
                    var x = parseInt($(this).attr('value'))
                    if (x == 0 || x == -1) {

                    }
                    else {
                        list.push($(this).attr('value'));
                    }

                });

            }
            else {
                list.push($("#idservicios").val());
            }

            $.ajax({
                async: true,
                beforeSend: function (xhr) { $('.sige-load').show(); },
                url: 'JsonSeguimiento_OperariosGPS',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    __a: $("#_operario").val(),
                    __b: $("#_fechaAsigna").val(),
                    __c: $("#suministro").val(),
                    __d: $("#medidor").val(),
                    lista:list.toString()
                }),
                success: function (response) {
                    funct_pintar_Seguimiento_Lecturas(response);
                    Fn_SeguimientoOperario();
                },

                complete: function () {
                    $('.sige-load').hide();
                },

                error: function (xhr) {
                    $('.sige-load').hide();
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            //recorrido operario
            function Fn_SeguimientoOperario() {

                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { $('.sige-load').show(); },
                    url: 'JsonSeguimiento_Operarios_GPS2',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        __a: $("#_operario").val(),
                        __b: $("#_fechaAsigna").val()
                    }),
                    success: function (response) {
                        funct_pintar_seguimiento_oper(response);
                    },

                    complete: function () {
                        $('.sige-load').hide();
                    },

                    error: function (xhr) {
                        $('.sige-load').hide();
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }


        }



        // segguimiento de lecturas pintado en el mapa

        function funct_pintar_Seguimiento_Lecturas(_vdata) {

            var Pyliline;
            var Lista_marker = [];

            map.removePolylines();
            map.removeMarkers();
            _datalinea = [];
            v_final = 0;
            v_medio = 0;
            $.each(_vdata, function (key, value) {
                v_final = key
            });
            $.each(_vdata, function (key, value) {


                var _vvontentS = "";
                var _vvontentO = "";

                if (parseFloat(value._b) != 0 && parseFloat(value._c) != 0) {
                    _vvontentO += '<div style="width:400px;height:200px;position:relative;">';
                    _vvontentO += '<table><tr><td><strong >Suministro</strong></td><td>: ' + value._m + '</td></tr>';
                    _vvontentO += '<tr><td><strong>Medidor</strong></td><td>: ' + value._n + '</td></tr>';
                    _vvontentO += '<tr><td><strong>Dirección</strong></td><td>: ' + value._o + '</td></tr>';
                    _vvontentO += '<tr><td><strong>Operador</strong></td><td>: ' + value._f + '</td></tr>';
                    _vvontentO += '<tr><td><strong>Cliente</strong></td><td>: ' + value._p + ' </td></tr>';
                    _vvontentO += '<tr><td><strong>Lectura</strong></td><td>: ' + value._q + ' </td></tr>';
                    if (value._r == 'SI') {
                        _vvontentO += '<tr><td colspan="2" style="text-align:center;"><strong><a onclick="galeriaFotos(' + value._l + ');" href="#">Ver Foto</a></strong></td></tr>';
                    }

                    _vvontentO += '<tr><td colspan="2" style="text-align:center;"><strong><a onclick="fnModalHistorico(' + value._m + ');" href="#">Historico de Lecturas</a></strong></td></tr>';
                    _vvontentO += '</table>';
                    _vvontentO += '</div>';

                    var myLatlng = new google.maps.LatLng(value._b, value._c);

                    if (value._s != '7' && value._s != '8') {

                        if (key == 0) {
                            var marcador = map.addMarker({
                                lat: parseFloat(value._b),
                                lng: parseFloat(value._c),
                                title: value._f,
                                icon: rutaJulio + '/Content/Imagen/lectura_inicio.png',
                                // icon: '/Content/Imagen/lectura_inicio.png',
                                click: function (e) {
                                    map.setCenter(value._b, value._c);
                                    map.setZoom(15);
                                },
                                infoWindow: {
                                    content: _vvontentO
                                }
                            });
                        } else {
                            var marcador = map.addMarker({
                                lat: parseFloat(value._b),
                                lng: parseFloat(value._c),
                                title: value._f,
                                //code: value._i,
                                icon: rutaJulio + '/Content/Imagen/m_red.png',
                                // icon: '/Content/Imagen/m_red.png',
                                click: function (e) {
                                    map.setCenter(value._b, value._c);
                                    map.setZoom(15);
                                },
                                infoWindow: {
                                    content: _vvontentO
                                }
                            });
                            //map.setZoom(15);
                            Lista_marker.push(marcador);
                            Lista_marker[value._a] = marcador;

                            _datalinea.push(myLatlng);
                        }

                    } else {

                        ///key == 0 primer registro

                        if (key == 0) {

                            var marcador = map.addMarker({
                                lat: parseFloat(value._b),
                                lng: parseFloat(value._c),
                                title: value._f,
                                //code: value._i,
                                icon: rutaJulio + '/Content/Imagen/lectura_inicio.png',
                                // icon: '/Content/Imagen/lectura_inicio.png',
                                click: function (e) {
                                    map.setCenter(value._b, value._c);
                                    map.setZoom(15);
                                },
                                infoWindow: {
                                    content: _vvontentO
                                }
                            });
                        } else {

                            var marcador = map.addMarker({
                                lat: parseFloat(value._b),
                                lng: parseFloat(value._c),
                                title: value._f,
                                //code: value._i,
                                icon: rutaJulio + '/Content/Imagen/m_blue.png',
                                //icon: '/Content/Imagen/m_blue.png',
                                click: function (e) {
                                    map.setCenter(value._b, value._c);
                                    map.setZoom(15);
                                },
                                infoWindow: {
                                    content: _vvontentO
                                }
                            });
                            //map.setZoom(15);
                            Lista_marker.push(marcador);
                            Lista_marker[value._a] = marcador;
                            _datalinea.push(myLatlng);
                        }
                    }


                    if (key == v_final) {
                        var marcador = map.addMarker({
                            lat: parseFloat(value._b),
                            lng: parseFloat(value._c),
                            title: value._f,
                            icon: rutaJulio + '/Content/Imagen/lectura_fin.png',
                            //icon: '/Content/Imagen/lectura_fin.png',
                            click: function (e) {
                                map.setCenter(value._b, value._c);
                                map.setZoom(15);
                            },
                            infoWindow: {
                                content: _vvontentO
                            }
                        });
                        //map.setZoom(15);
                        Lista_marker.push(marcador);
                        Lista_marker[value._a] = marcador;
                        _datalinea.push(myLatlng);
                    }


                }  // fin msg
            });  // fin bucle

            Pyliline = map.drawPolyline({
                path: _datalinea,
                strokeColor: '#337AB7',
                strokeOpacity: 0.6,
                strokeWeight: 6
            });

        }


        // seguimiento del Operario
        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        function funct_pintar_seguimiento_oper(_vdata) {
            var Pyliline;
            var Lista_marker = [];

            _datalinea = [];
            v_final = 0;
            v_medio = 0;

            $.each(_vdata, function (key, value) {
                v_final = key
            });
            v_medio = v_final / 2;
            v_medio = Math.floor(v_medio);

            $.each(_vdata, function (key, value) {

                var _vvontentO = "";

                if (parseFloat(value._c) != 0 && parseFloat(value._d) != 0) {

                    var myLatlng = new google.maps.LatLng(value._c, value._d);

                    if (key == 0) {
                        var marcador = map.addMarker({
                            lat: parseFloat(value._c),
                            lng: parseFloat(value._d),
                            title: value._e,
                            icon: rutaJulio + '/Content/Imagen/operario.png',
                            click: function (e) {
                                map.setCenter(value._c, value._d);
                                map.setZoom(15);
                            }
                        });

                        Lista_marker.push(marcador);
                        Lista_marker[value._a] = marcador;
                        _datalinea.push(myLatlng);
                    }
                    else {
                        if (key == v_final) {


                            var fecha_Filtro = $("#_fechaAsigna").val()

                            //obteniendo la fecha actual del sistema
                            var today = new Date();
                            var dd = today.getDate();
                            var mm = today.getMonth() + 1; //January is 0!
                            var yyyy = today.getFullYear();
                            if (dd < 10) {
                                dd = '0' + dd
                            }
                            if (mm < 10) {
                                mm = '0' + mm
                            }
                            var today = dd + '/' + mm + '/' + yyyy;

                            //Mostrando el icono
                            var icono;

                            if (fecha_Filtro == today) {
                                icono = rutaJulio + '/Content/Imagen/ope_ubicacion.png';
                            } else {
                                icono = rutaJulio + '/Content/Imagen/operario_final.png';
                            }

                            var marcador = map.addMarker({
                                lat: parseFloat(value._c),
                                lng: parseFloat(value._d),
                                icon: icono,
                                click: function (e) {
                                    map.setCenter(value._d, value._d);
                                    map.setZoom(15);
                                }
                            });
                            Lista_marker.push(marcador);
                            Lista_marker[value._a] = marcador;
                            _datalinea.push(myLatlng);
                        } else {

                            if (value._f >= 5) {
                                /// Validando si posee paradas

                                if (parseFloat(value._c) != 0 && parseFloat(value._d) != 0) {
                                    _vvontentO += '<div style="width:400px;height:100px;position:relative;">';
                                    _vvontentO += '<table><tr><td><strong >Operario</strong></td><td>: ' + value._b + '</td></tr>';
                                    _vvontentO += '<tr><td><strong>Tiempo Parada</strong></td><td>: ' + value._f + '</td></tr>';
                                    _vvontentO += '<tr><td><strong>Hora de inicio parada</strong></td><td>: ' + value._g + '</td></tr>';
                                    _vvontentO += '<tr><td><strong>Hora fin de parada</strong></td><td>: ' + value._h + '</td></tr>';
                                    _vvontentO += '</table>';
                                    _vvontentO += '</div>';
                                }
                                var marcador = map.addMarker({
                                    lat: parseFloat(value._c),
                                    lng: parseFloat(value._d),
                                    title: value._b,
                                    icon: rutaJulio + '/Content/Imagen/ope_paro.png',
                                    click: function (e) {
                                        map.setCenter(value._c, value._d);
                                        map.setZoom(15);
                                    },
                                    infoWindow: {
                                        content: _vvontentO
                                    }

                                });
                                //map.setZoom(15);
                                Lista_marker.push(marcador);
                                Lista_marker[value._a] = marcador;
                                _datalinea.push(myLatlng);

                            }
                            else {

                                var marcador = map.addMarker({
                                    lat: parseFloat(value._c),
                                    lng: parseFloat(value._d),
                                    title: value._b,
                                    icon: rutaJulio + '/Content/Imagen/seg_operario.png',
                                    click: function (e) {
                                        map.setCenter(value._c, value._d);
                                        map.setZoom(15);
                                    },
                                });
                                //map.setZoom(15);
                                Lista_marker.push(marcador);
                                Lista_marker[value._a] = marcador;
                                _datalinea.push(myLatlng);

                            }

                        }
                    }

                }
                /// fin de msg
            });  // fin de bucle

            Pyliline = map.drawPolyline({
                path: _datalinea,
                strokeColor: '#19B200',
                strokeOpacity: 0.6,
                strokeWeight: 6
            });






        }  // fin de la funcion

        function fnLimpiar() {
            funct_mover_mapa();
            $('#suministro').text('');
            $('#medidor').text('');
            map.removePolylines();
            map.removeMarkers();
        };


        function funct_map_resize() {
            var _vancho = $(".static-content-wrapper").width();
            var _valto = $(window).height() - $("#topnav").height();
            $("#map").width(_vancho);
            $("#map").height(_valto);
        }

        function fnDescargaHistorico() {
            $ajaxJson(
                //'/Asigna_Lectura/DescargaHistorico',
                '../Asigna_Lectura/DescargaHistorico',
                function () {
                    return {
                        __a: JSON.stringify($('#table-historico').bootstrapTable('getData'))
                    };
                },
                function (__s) {
                    window.open(rutaJulio + '/Temp/' + __s.__a, '_blank');
                    //window.open('/Temp/' + __s.__a, '_blank');

                }
            );
        }

    </script>
}

<div class="panel panel-oscuro">
    <div class="panel-heading">
        <h6><i class="fa fa-table fa-lg"></i> SEGUIMIENTO DE OPERARIOS</h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-info col-sm-12" style="background-color: #F8F8F8;">
                            <div class="panel-body" style="height: 40px;">
                           



                                    <form class="form-inline">

                                        <div class="form-group" style="padding-left: 5px; padding-right: 5px;padding-top: 10px">


                                            <label for="_fechaAsigna" class="control-label">Fecha Asignación</label>



                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input style="width:90px;" class="form-control" id="_fechaAsigna" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                            </div>



                                        </div>

                                        <div class="form-group" style="padding-left: 5px; padding-right: 5px;padding-top: 10px">

                                            <label for="_operario" class="control-label">Operario</label>


                                            <div class="form-group form-group-sm">
                                                <select class="form-control" id="_operario">
                                                    @foreach (Operario oBj in new NOperario().NLista(new Request_Operario_Empresa_Local_Opcion() { emp_id = ((Sesion)Session["Session_Usuario_Acceso"]).empresa.emp_id, loc_id = 0, opcion = 3 }))
                                                    {
                                                        <option value="@oBj.ope_id">@oBj.ope_nombre</option>
                                                    }
                                                </select>
                                            </div>

                                        </div>



                                        <div class="form-group" style="padding-left: 5px; padding-right: 5px;padding-top: 10px">

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input name="suministro" id="suministro" class="form-control" placeholder="Suministro">
                                            </div>


                                        </div>


                                        <div class="form-group" style="padding-left: 5px; padding-right: 5px;padding-top: 10px">


                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input name="medidor" id="medidor" class="form-control" placeholder="Medidor">
                                            </div>


                                        </div>

                                        <div style="text-align: right;padding-left: 195px; padding-right: 5px;padding-top: 10px" class="form-group">
                                            <div>
                                                <button role="button" class="btn btn-primary btn-sm" id="btnBuscar"><i class="fa fa-refresh fa-lg"></i> Procesar</button>
                                                <button role="button" class="btn btn-primary btn-sm" onclick="fnLimpiar();"><i class="fa fa-eraser fa-lg"></i> Limpiar</button>
                                            </div>
                                        </div>



                                    </form>
                          
                            </div>
                            <div id="map" style="width:100%;height:350px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-historico" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" id="modalhistorico">
            <div class="panel panel-oscuro">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i>Histórico de Lecturas</h6>
                </div>
                <div class="panel-body">
                    <table id="table-historico"
                           data-toggle="table"
                           data-height="350"
                           data-row-style="rowStyle"
                           data-pagination="true"
                           data-page-size="200"
                           data-page-list="[100, 200, 300, 400, 500]"
                           data-maintain-selected="true">
                        <thead>
                            <tr>
                                <th data-field="_d">Medidor</th>
                                <th data-field="_o">Fecha de Lectura</th>
                                <th data-field="_n">Lectura</th>
                                <th data-field="_i">Operario</th>
                                <th data-field="_p">Observación</th>
                                <th data-field="_m">Estado</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                <button role="button" class="btn btn-success" onclick="fnDescargaHistorico();"><i class="fa fa-download fa-lg"></i> Exportar</button>
                                <button role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fotos" class="modal fade">
        <div class="modal-dialog" style="width: 320px; height:250px; text-align: center;">
            <div class="modal-body" style="text-align: center; background-color: white;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="corre">
                    </div>

                    <ol class="carousel-indicators" id="ol"></ol>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-color:black;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-color:black;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <!-- Carousel -->
            </div>
        </div>
    </div>
</div>