@using DSIGE
@using DSIGE.Modelo
@using DSIGE.Negocio

@{
    ViewBag.Title = ".:: Importacion de archivos ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section instances{

    @Styles.Render("~/Content/dataTables-bootstrap/css/dataTables.bootstrap.min.css")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/dataTables-bootstrap/js/dataTables.bootstrap.min.js")

    @Styles.Render("~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css")
    @Scripts.Render("~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js")

    @Scripts.Render("~/Content/bootstrap/js/bootstrap-filestyle.min.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/angular/angular.js")
    <script src="~/Content/pdf/jspdf.js"></script>

}

@section styles{
    <style type="text/css">
        .nav-tabs {
            border-bottom: 0;
        }

        #_archivo.btn-info {
            background-image: none;
            color: inherit;
            background-color: inherit !important;
        }

        .modal-dialog {
            width: 300px;
        }

        .datepicker {
            width: 200px;
        }

        .form-control {
            font-size: 11px;
            width: 100%;
            height: 28px;
        }

        input[type="text"] {
            font-size: 11px;
        }

        body {
            font-size: 10.5px;
            font-family: tahoma;
        }

        .label-primary {
            background-color: #337ab7;
            font-size: 11px;
        }

        .label-danger {
            background-color: red;
            font-size: 11px;
        }

        .resaltado {
            color: red;
            text-decoration: underline;
        }

        .julio .table, th {
            background-color: #333 !important;
            color: white !important;
        }

        /*.input-group .form-control, .input-group-addon, .input-group-btn {
            height: 40px !important;
        }*/

        .menuBoton, .ul .li {
            list-style-type: none;
            padding: 10px;
            /*display: inline-table;*/
            width: 200px !important;
        }
 
    </style>
}

@section scripts{

    <script type="text/javascript">


        function filterFloat(evt, input) {
            // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
            var key = window.Event ? evt.which : evt.keyCode;
 

            var chark = String.fromCharCode(key);
            var tempValue = input.value + chark;
            if (key >= 48 && key <= 58) {
                if (filter(tempValue) === false) {
                    return false;
                } else {
                    return true;
                }
            } else {
                if (key == 8 || key == 13 || key == 0) {
                    return true;
                } else if (key == 46) {
                    if (filter(tempValue) === false) {
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }
            }
        }
        function filter(__val__) {
            var preg = /^([0-9]+\:?[0-9]{0,2})$/;
            if (preg.test(__val__) === true) {
                return true;
            } else {
                return false;
            }

        }

    </script>

    <script type="text/javascript">

        $(function () {
            $('#id_fecha_asignacion').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });
        });
        $(function () {
            $('#_fecha').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });
        });

        $(function () {
            $('#_fechaEnvioMovil ,#dtp_fechaRecojo ').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                autoclose: true
            });

            $("#dtp_fechaMaxima").datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
            });
        });

        var app = angular.module('MyApp', []).directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit('ngRepeatFinished');
                        });
                    }
                }
            }
        }).directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);

        app.service('fileUpload', ['$http', function ($http) {
            this.uploadFileToUrl = function (idlocal, file, uploadUrl) {

                var fd = new FormData();
                fd.append('file', file);
                fd.append('idlocal', idlocal);
                $http.post(uploadUrl, fd, {

                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                })
                .success(function (data) {

                })
                .error(function () {

                });

            }
        }]);

        app.controller('MyController', function ($scope, $timeout, $http, fileUpload) {
            oTable = null;
            $scope.servicios = "0"
            $scope.ngChangeCount = function () {

                var formOpcion = document.getElementById('formOpcion');
                formOpcion.style.display = 'none';

                $scope.count = $scope.count + 1;
                var idServicio = $scope.servicios
                if (idServicio == 1 ) {
                    $scope.openLectura = true;
                    $scope.openCorte = false;
                }
                else if (idServicio == 3 || idServicio == 4) {
                    $scope.openLectura = false;
                    $scope.openCorte = true;
                }
                else if (idServicio == 2 || idServicio == 9) {
                    formOpcion.style.display = '';
                }
                else {
                    console.log("error")
                }
            }

            $scope.Lecturas_Detallado = function (obj_item) {
                var idServicio = $scope.servicios;
                $('.sige-load').show();
                var variables = {
                    method: 'POST',
                    url: '../Importar_Excel/Lecturas_Detallado',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        idServ: idServicio,
                        idtecnico: obj_item.tecnico,
                        distrito: obj_item.cor_distrito
                    }
                }
                $http(variables)
                .success(function (data) {

                    if (oTable == null) {
                        $scope.Lista_Lecturas_Temporal_detallado = data;
                    } else {
                        oTable.destroy();
                        $scope.Lista_Lecturas_Temporal_detallado = data;
                    }

                    $('.sige-load').hide();

                })
                .error(function () {
                    alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                });
            };

            $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                oTable = $('#tblListaDetalle').DataTable();
            });

            $scope.uploadFile = function () {

                var idlocal = document.getElementById('local').value;
                var idServicio = document.getElementById('id_servicio').value;
                var cbo_opcion = document.getElementById('cbo_opcion').value;

                var btn_Guardar = document.getElementById('btn_guardar');
                var btn_ver = document.getElementById('btn_ver');
                var idfechaAsignacion = document.getElementById('id_fecha_asignacion').value;

                var Cant = 0;
                var Flag_Cant = 0;

                $scope.Cant_Null_Operador = 0;
                $scope.Cant_Reg_Lecturas = 0;
                if (idServicio == "0") {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }

                if (idfechaAsignacion == '') {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione o ingrese una Fecha de Asignación. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }


                if ($scope.myFile == null) {
                    new PNotify({
                        title: ' ',
                        text: 'Ningun Archivo Seleccionado',
                        type: 'error'
                    });
                } else {

                    $scope.show_otros = true;
                    if (idServicio == 1) {
                        $scope.show_Lectura = true;
                        $scope.show_otros = false;
                        $scope.showReclamos = false;
                        $scope.showClientes = false;
                    }
                    if (idServicio == 6) {
                        $scope.showReparto = true;
                        $scope.show_otros = false;
                        $scope.showReclamos = false;
                        $scope.showClientes = false;
                    }
                    if (idServicio == 7) {
                        $scope.show_Lectura = false;
                        $scope.show_otros = false;
                        $scope.showReclamos = false;
                        $scope.showClientes = true;
                    }

                    if (idServicio == 2 || idServicio == 9) {

                        if (cbo_opcion == 1) {///----cargando
                            $scope.showReclamos = true;
                            $scope.showReparto = false;
                            $scope.show_otros = false;
                            $scope.showClientes = false;
                        } else {///----actualizando
                            $scope.show_Lectura = true;
                            $scope.show_otros = false;
                            $scope.showReclamos = false;
                            $scope.showClientes = false;
                        }
                    }

                    if (idServicio == 2 || idServicio == 9) { /// solo reclamos --

                        var name = "";
                        if (cbo_opcion == 1) {///----cargando
                            name = " CARGAR ";
                        } else {
                            name = " ACTUALIZAR ";
                        }

                        (new PNotify({
                            title: 'Sistemas Confirmacion ',
                            text: 'Haz elegido la Opcion  : ' + name + ' , estas seguro ..?',
                            icon: 'glyphicon glyphicon-question-sign',
                            hide: false,
                            confirm: {
                                confirm: true
                            },
                            buttons: {
                                closer: false,
                                sticker: false
                            },
                            history: {
                                history: false
                            }
                        })).get().on('pnotify.confirm', function () {
                            $('.sige-load').show();

                            var file = $scope.myFile;

                            var uploadUrl = '';
                            if (idServicio == 2) {
                                uploadUrl = '@Url.Action("InsertaExcel_relectura")';
                            }
                            if (idServicio == 9) {
                                uploadUrl = '@Url.Action("InsertaExcel_reclamos")';
                            }

                            var fd = new FormData();
                            fd.append('file', file);
                            fd.append('idlocal', 1);
                            fd.append('idfechaAsignacion', idfechaAsignacion);
                            fd.append('idServicio', idServicio);
                            fd.append('opcion', cbo_opcion);

                            $http.post(uploadUrl, fd,
                            {
                                transformRequest: angular.identity,
                                headers: { 'Content-Type': undefined }
                            }).success(function (res) {
                                $('.sige-load').hide();

                                $scope.Lista_Lecturas_Temporal = [];
                                if (cbo_opcion == 1 || idServicio == '1') { ///CARGAR
                                    if (res.ok == true) {
                                        btn_ver.disabled = true;
                                        $scope.Lista_Lecturas_Temporal = res.data;
                                        btn_Guardar.disabled = false;

                                    } else {
                                        btn_Guardar.disabled = true;
                                        alert(res.data);
                                    }
                                }
                                else if (cbo_opcion == 2 || cbo_opcion == '2') {
                                    if (res.ok == true) {
                                        console.log(res.data);
                                        btn_ver.disabled = true;
                                        $scope.Lista_Lecturas_Temporal = res.data;
                                        var flag_error = false;
                                        for (obj of $scope.Lista_Lecturas_Temporal) {
                                            if (obj.id_operario == 0 || obj.id_operario == '0') {
                                                flag_error = true;
                                                break;
                                            }
                                        }

                                        if (flag_error == true) {
                                            btn_Guardar.disabled = true;
                                        }
                                        else {
                                            btn_Guardar.disabled = false;
                                        }

                                    } else {
                                        btn_Guardar.disabled = true;
                                        alert(res.data);
                                    }
                                }
                                $('.sige-load').hide();

                            })
                            .error(function () {
                                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                                $('.sige-load').hide();
                                });


                        }).on('pnotify.cancel', function () {

                            });

                    }
                    else
                    {
                            $('.sige-load').show();
                            var file = $scope.myFile;
                            var uploadUrl = '@Url.Action("InsertaExcel")';

                            var fd = new FormData();
                            fd.append('file', file);
                            fd.append('idlocal', 1);
                            fd.append('idfechaAsignacion', idfechaAsignacion);
                            fd.append('idServicio', idServicio);

                            $http.post(uploadUrl, fd,
                            {
                                transformRequest: angular.identity,
                                headers: { 'Content-Type': undefined }
                            }).success(function (res) {
                                $('.sige-load').hide();

                                if (idServicio == 1 || idServicio == '1' || idServicio == 7 || idServicio == '7') {
                                    if (res.ok == true) {
                                        console.log(res.data);
                                        btn_ver.disabled = true;
                                        $scope.Lista_Lecturas_Temporal = res.data;
                                        var flag_error = false;
                                        for (obj of $scope.Lista_Lecturas_Temporal) {
                                            if (obj.id_operario == 0 || obj.id_operario == '0') {
                                                flag_error = true;
                                                break;
                                            }
                                        }

                                        if (flag_error == true) {
                                            btn_Guardar.disabled = true;
                                        }
                                        else {
                                            btn_Guardar.disabled = false;
                                        }

                                    } else {
                                        btn_Guardar.disabled = true;
                                        alert(res.data);
                                    }

                                }
                                else if (idServicio == 3 || idServicio == '3') {
                                    if (res == 'ERROR' || res == '"ERROR"') {
                                        alert('Lo sentimos se produjo un error..')
                                        return;
                                    }
                                    $scope.Lista_Lecturas_Temporal = res;
                                    btn_ver.disabled = true;
                                    btn_Guardar.disabled = false;
                                }
                                else {

                                    if (res == 'ERROR' || res == '"ERROR"') {
                                        alert('Lo sentimos se produjo un error..')
                                        return;
                                    }

                                    $scope.Lista_Lecturas_Temporal = res;
                                    btn_ver.disabled = true;

                                    for (var i = 0, len = res.length; i < len; i++) {
                                        if (res[i].cant_erroneo > 0) {
                                            Flag_Cant = (Flag_Cant + 1);
                                        }
                                    }

                                    $scope.Cant_Null_Operador = Cant;
                                    $scope.Cant_Reg_Lecturas = Flag_Cant;

                                    if (Flag_Cant == 0) {
                                        btn_Guardar.disabled = false;
                                    }
                                    else {
                                        btn_Guardar.disabled = true;
                                    }
                                }
                                $('.sige-load').hide();
                            })
                            .error(function () {
                                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                                $('.sige-load').hide();
                            });
                    }


                }
            };


            ///Creando la Funcion
            $scope.Obj_List_Servicios = [];
            $scope.Listado_Servicios = function () {
                var variables = {
                    method: 'POST',
                    url: 'ListadoServicios',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    }
                }
                $http(variables)
                    .success(function (data) {
                        $scope.Obj_List_Servicios = [];

                        for (obj of data) {
                            if (obj._a == '1' || obj._a == '2' || obj._a == '3' || obj._a == '4' || obj._a == '6' || obj._a == '7' || obj._a == '9') {
                                $scope.Obj_List_Servicios.push(obj);
                            }
                        }
                })

                .error(function () {
                    alert('Ocurrio un problema con la conexion, vuelva a intentar.')

                });
            }

            //inicializando
            $scope.Listado_Servicios()

            $scope.ListarTableTemporal = function () {

                $http({

                    method: 'POST',
                    url: 'JsonListarTablaTemp',

                    headers: {
                        'Content-Type': undefined
                    }

                }).success(function (data) {

                    $('.sige-load').hide();

                    if (oTable == null) {
                        $scope.listaTemp = data;

                    } else {
                        oTable.destroy();
                        oTable = null;
                        $scope.listaTemp = data;

                    }


                }).error(function () {

                    alert('Ocurrio un problema, vuelva a intentar.')
                });

            }


            $scope.Eliminando_Tabla_Temporal = function () {
                var btn_ver = document.getElementById('btn_ver');
                $window.location.reload();
            }

            ///guarda de la tabla temporal a la tabla real

            $scope.GuardarTablaTempLecturas = function () {

                var cancel = document.getElementById('btn_cancel');
                var btn_Guardar = document.getElementById('btn_guardar');
                const fecha_asignacion = document.getElementById('id_fecha_asignacion').value;
                const fecha_Movil = document.getElementById('_fecha').value;
                const idServicio = document.getElementById('id_servicio').value;
                const cbo_opcion = document.getElementById('cbo_opcion').value;


                if (idServicio == '0') {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }
                if (fecha_Movil == '') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione o ingrese la Fecha Movil.',
                        type: 'error'
                    });
                    return;
                }

                var params = {};
                var ruta = '';
                if (idServicio == 1 || idServicio == '1') {
                    params = {
                        fechaAsignacion: fecha_asignacion,
                        fechaMovil: fecha_Movil,
                        id_servicio: document.getElementById('id_servicio').value,
                        nombre_archivo: $scope.myFile.name
                    }
                    ruta = 'set_enviarMovil_lecturas';
                }

                else if (idServicio == 2 || idServicio == '2') {  ///----relectura --
                    console.log('Relectura');
                    console.log(cbo_opcion);
                    params = {
                        fechaAsignacion: fecha_asignacion,
                        fechaMovil: fecha_Movil,
                        id_servicio: idServicio,
                        nombre_archivo: $scope.myFile.name,
                        opcion: cbo_opcion
                    }
                    ruta = 'set_enviarMovil_relectura';

                }
                else if (idServicio == 6 || idServicio == '6') {

                    var dtp_fechaRecojo = document.getElementById('dtp_fechaRecojo').value;
                    var txt_horaRecojo = document.getElementById('txt_horaRecojo').value;
                    var txt_cantidadRecibos = document.getElementById('txt_cantidadRecibos').value;
                    var dtp_fechaMaxima = document.getElementById('dtp_fechaMaxima').value;
                    var cbo_ciclo = document.getElementById('cbo_ciclo').value;

                    console.log('reparto');
                    console.log(idServicio);

                    if (dtp_fechaRecojo == '' || dtp_fechaRecojo == null || dtp_fechaRecojo == '0') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor seleccione o ingrese la Fecha de Recojo.',
                            type: 'error'
                        });
                        return;
                    }

                    if (txt_horaRecojo == '' || txt_horaRecojo == null || txt_horaRecojo == '0') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor ingrese la hora de Recojo.',
                            type: 'error'
                        });
                        return;
                    }

                    if (txt_horaRecojo.length < 5) {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor complete el formato (hora : minutos).',
                            type: 'error'
                        });
                        return;
                    }
                    if (parseInt(txt_cantidadRecibos) < 0) {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor ingrese  la cantidad de recibos',
                            type: 'error'
                        });
                        return;
                    }

                    if (dtp_fechaMaxima == '' || dtp_fechaMaxima == null || dtp_fechaMaxima == '0') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor seleccione o ingrese la Fecha Maxima.',
                            type: 'error'
                        });
                        return;
                    }

                    if (cbo_ciclo == '' || cbo_ciclo == null || cbo_ciclo == '0') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor seleccione un ciclo.',
                            type: 'error'
                        });
                        return;
                    }
                    params = {
                        fechaAsignacion: fecha_Movil,
                        id_servicio: document.getElementById('id_servicio').value,
                        nombre_archivo: $scope.myFile.name,

                        fechaRecojo: dtp_fechaRecojo,
                        horaRecojo: txt_horaRecojo,
                        cantidadRecibos: txt_cantidadRecibos,
                        fechaMaxima: dtp_fechaMaxima,
                        ciclo: cbo_ciclo,

                    }
                    ruta = 'set_enviarMovil_reparto';
                }

                else if (idServicio == 7 || idServicio == '7') {
                    params = {
                        fechaAsignacion: fecha_asignacion,
                        fechaMovil: fecha_Movil,
                        id_servicio: idServicio,
                        nombre_archivo: $scope.myFile.name
                    }
                    ruta = 'set_enviarMovil_grandesClientes';
                }

                else if (idServicio == 9 || idServicio == '9') {
                    console.log('reclamos');
                    console.log(cbo_opcion);
                    params = {
                        fechaAsignacion: fecha_asignacion,
                        fechaMovil: fecha_Movil,
                        id_servicio: idServicio,
                        nombre_archivo: $scope.myFile.name,
                        opcion: cbo_opcion
                    }
                    ruta = 'set_enviarMovil_reclamos';

                }
                else {
                    params = {
                        fechaAsignacion: fecha_Movil,
                        id_servicio: idServicio,
                        nombre_archivo: $scope.myFile.name
                    }
                    ruta = 'JsonRegistrarTemp_LecturasExcel';
                }

                $('.sige-load').show();
                $http({
                    method: 'POST',
                    url: ruta,
                    params: params,
                    headers: {
                        'Content-Type': undefined
                    }

                }).success(function (data) {
                    console.log(data);
                    $('.sige-load').hide();

                    if (idServicio == 1 || idServicio == '1') {
                        new PNotify({
                            title: ' ',
                            text: 'Proceso generado Exitosamente.',
                            type: 'success'
                        });
                    } else {
                        var res = data.split("|");
                        if (res[0] == '"0' || res[0] == '0' || res[0] == 0) {
                            new PNotify({
                                title: 'Sistemas',
                                text: 'Lo sentimos se produjo un error, realice una captura de Pantalla con el Error y comuniquese con el area de Sistemas..',
                                type: 'error'
                            });

                            alert(res[1])
                            return;
                        }
                        else {
                            new PNotify({
                                title: ' ',
                                text: 'Proceso generado Exitosamente.',
                                type: 'success'
                            });
                        }
                    }

                    btn_Guardar.disabled = true;
                    cancel.click();

                }).error(function (error) {
                    $('.sige-load').hide();
                    //alert(error)
                });

            }

            // EXPORTAR A EXCEL
            $scope.tableToExcel = function (tableId) {
                var uri = 'data:application/vnd.ms-excel;base64,',
                      template = '<html lang="es" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="utf-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Importar</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
                      base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))); },
                      format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) };

                var table = $(tableId),
                             ctx = { worksheet: 'descar123', table: table.html() };

                var link = document.createElement("a");
                link.download = "ImportacionLecturas.xls";
                link.href = uri + base64(format(template, ctx));
                link.click()

            }




            //// EXPORTAR A EXCEL
            $scope.tableToExcel_detallado = function (tableId) {
                var uri = 'data:application/vnd.ms-excel;base64,',
                        template = '<html lang="es" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="utf-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>Importar</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
                        base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))); },
                        format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) };

                var table = $(tableId),
                             ctx = { worksheet: 'descar123', table: table.html() };

                var link = document.createElement("a");
                link.download = "ImportacionLecturasdetallado.xls";
                link.href = uri + base64(format(template, ctx));
                link.click()

            }


            $scope.getPdf = function () {

                var doc = new jsPDF()
                var x = 5;
                var y = 5;

                var countBucle = 0;
                for (var i = 0; i < 50; i++) {
                    // CAMBIO DE LETRA
                    countBucle++;
                    if (countBucle == 4) {
                        x = 5;
                        y = 110;
                    } else if (countBucle == 7) {
                        x = 5;
                        y = 5;
                        countBucle = 1;
                        doc.addPage()
                    }

                    doc.setFont('courier');
                    doc.setFontType('bold')
                    doc.setFontSize(10);
                    //

                    doc.text(y, x, 'Nro.Recibo 0001-22720655')
                    doc.text(y + 80, x, String(i+1))
                    // CAMBIAMOS DE LETRA A NORMAL
                    doc.setFont("helvetica");
                    doc.setFontType('normal')
                    doc.setFontSize(9);
                    //
                    doc.text(y, x + 5, 'Empresa : Gas Natural de Lima y Callao S.A');
                    doc.text(y, x + 10, 'Cliente : MANUELA ROSA AMERI TREMOLADA');
                    doc.text(y + 80, x + 10, '361');

                    doc.text(y, x + 15, 'Cta. Cto.: 461017');
                    doc.text(y + 61, x + 15, 'F_Max : 09/05/18');
                    doc.text(y, x + 20, 'Dirección : CA INCA GARCILASO DE LA VEGA 406 Piso 1');
                    doc.text(y + 64, x + 25, 'Ciclo 1 MAYO');

                    doc.text(y, x + 28, 'ATE');
                    doc.setFontSize(8);
                    doc.text(y, x + 32, 'RECLAMOS');
                    doc.setFontSize(9);
                    doc.text(y + 65, x + 32, 'UL: 103-0040');
                    doc.line(y - 3, x + 35, y + 95, x + 35) // horizontal line

                    // CAMBIAMOS LETRA
                    doc.setFont('courier');
                    doc.setFontSize(11);
                    doc.text(y, x + 40, 'FECHA DE SUPERVISION');
                    doc.line(y + 50, x + 40, y + 90, x + 40) // horizontal line

                    doc.text(y, x + 48, 'LLEGO RECIBO');
                    doc.rect(y + 50, x + 43, 20, 7);
                    doc.text(y + 57, x + 48, 'SI');
                    doc.rect(y + 70, x + 43, 20, 7);
                    doc.text(y + 77, x + 48, 'NO');

                    doc.text(y, x + 56, 'ESTADO DEL MEDIDOR');
                    doc.line(y + 50, x + 56, y + 90, x + 56) // horizontal line


                    doc.text(y, x + 62, 'LECTURA ACTUAL');
                    doc.line(y + 50, x + 62, y + 90, x + 62) // horizontal line


                    doc.text(y, x + 68, 'NOMBRE DEL CLIENTE');

                    doc.text(y + 50, x + 68, 'FIRMA');

                    doc.line(y + 63, x + 68, y + 96, x + 68) // horizontal line

                    doc.line(y, x + 76, y + 90, x + 76) // horizontal line
                    doc.line(y, x + 84, y + 90, x + 84) // horizontal line

                    x += 95;
                }


                doc.output('dataurlnewwindow');
                doc.save('ok.pdf');
            }

            $timeout(function () {
               // $scope.getPdf();
            }, 200)


            $scope.enviarCorreo = function () {

                var idServicio = document.getElementById('id_servicio').value;
                var Fecha_asignacion = document.getElementById('id_fecha_asignacion').value;

                if (idServicio == '0') {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }

                if (idServicio == 3 || idServicio == '3' || idServicio == 4 || idServicio == '4') {
                    if (Fecha_asignacion == '') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor seleccione o ingrese la Fecha.',
                            type: 'error'
                        });
                        return;
                    }

                    $('.sige-load').show();
                    (new PNotify({
                        title: 'Sistemas Confirmacion',
                        text: 'Esta seguro de Cambiar de Re-enviar Correo?, una vez enviado no hay marcha atras..',
                        icon: 'glyphicon glyphicon-question-sign',
                        hide: false,
                        confirm: {
                            confirm: true
                        },
                        buttons: {
                            closer: false,
                            sticker: false
                        },
                        history: {
                            history: false
                        }
                    })).get().on('pnotify.confirm', function () {


                        var variables = {
                            method: 'POST',
                            url: '../Importar_Excel/set_EnviarCorreo',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8'
                            },
                            data: {
                                servicio: idServicio,
                                fecha_Asigna: Fecha_asignacion
                            }
                        }
                        $http(variables)
                            .success(function (data) {
                                $('.sige-load').hide();
                                if (data == 'OK' || data == '"OK"') {
                                    new PNotify({
                                        title: 'Sistemas',
                                        text: 'Proceso de Envio de correo masivo, Realizado Correctamente.',
                                        type: 'success'
                                    });
                                } else {
                                    $('.sige-load').hide();
                                    alert(data)
                                }
                            })
                            .error(function () {
                                $('.sige-load').hide();
                                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                            });
                    }).on('pnotify.cancel', function () {
                        $('.sige-load').hide();
                    });
                }
            }


            $scope.generarRepartoPdf = function () {
                var idServicio = document.getElementById('id_servicio').value;
                var Fecha_asignacion = document.getElementById('_fecha').value;

                if (idServicio == '0') {
                    new PNotify({
                        title: ' ',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }

                if (idServicio == 6 || idServicio == '6') {
                    if (Fecha_asignacion == '') {
                        new PNotify({
                            title: 'Sistemas',
                            text: 'Por favor seleccione o ingrese la Fecha.',
                            type: 'error'
                        });
                        return;
                    }

                    $('.sige-load').show();
                    //(new PNotify({
                    //    title: 'Sistemas Confirmacion',
                    //    text: 'Esta seguro de Cambiar de Re-enviar Correo?, una vez enviado no hay marcha atras..',
                    //    icon: 'glyphicon glyphicon-question-sign',
                    //    hide: false,
                    //    confirm: {
                    //        confirm: true
                    //    },
                    //    buttons: {
                    //        closer: false,
                    //        sticker: false
                    //    },
                    //    history: {
                    //        history: false
                    //    }
                    //})).get().on('pnotify.confirm', function () {


                        var variables = {
                            method: 'POST',
                            url: '../Importar_Excel/set_RepartoPdf',
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8'
                            },
                            data: {
                                servicio: idServicio,
                                fecha_Asigna: Fecha_asignacion
                            }
                        }
                        $http(variables)
                            .success(function (data) {
                                $('.sige-load').hide();
                                if (data.length > 0) {
                                    console.log('data');
                                    get_repartoPdf(data);
                                } else {
                                    $('.sige-load').hide();
                                    alert(data)
                                }
                            })
                            .error(function () {
                                $('.sige-load').hide();
                                alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                            });


                    //}).on('pnotify.cancel', function () {
                    //    $('.sige-load').hide();
                    //});
                }
            }


            $scope.Descargar_formato = function () {
                if ($scope.servicios == 0 || $scope.servicios == '0' || $scope.servicios =='') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione un Servicio',
                        type: 'error'
                    });
                    return;
                }

                if ($scope.servicios == 3) {
                    window.open("../formatos/FORMATO_CORTES_NEW.xls");
                }
                else if ($scope.servicios == 2) {
                    window.open("../formatos/FORMATO_RELECTURAS.xlsx");
                }
                else if ($scope.servicios == 4) {
                    window.open("../formatos/FORMATO_RECONEXION_NEW.xls");
                } else if ($scope.servicios == 6) {
                    window.open("../formatos/FORMATO_REPARTO_NEW.xlsx");
                }else if ($scope.servicios == 7) {
                    window.open("../formatos/FORMATO_GRANDES_CLIENTES.xlsx");
                }
                else if ($scope.servicios == 9) {
                    window.open("../formatos/FORMATO_RECLAMOS.xlsx");
                }

            }


            $scope.abrirModal_Asignacion = function () {
                var idServicio = document.getElementById('id_servicio').value;
                var form_asignacionReparto = document.getElementById('form_asignacionReparto');
                var cbo_ciclo = document.getElementById('cbo_ciclo');

                if (idServicio == 6 || idServicio == '6') {
                    form_asignacionReparto.style.display = '';
                } else {
                    form_asignacionReparto.style.display = 'none';
                }
                $('#modal-asignacion').modal('show');
                cbo_ciclo.value = "";
            }

            var get_repartoPdf = function (data) {

                var doc = new jsPDF()
                var x = 8;
                var y = 5;

                var countBucle = 0;
                for (var i = 0; i < data.length ; i++) {
                    // CAMBIO DE LETRA
                    countBucle++;
                    if (countBucle == 4) {
                        x = 8;
                        y = 110;
                    } else if (countBucle == 7) {
                        x = 8;
                        y = 5;
                        countBucle = 1;
                        doc.addPage()
                    }

                    doc.setFont("courier");
                    doc.setFontType('bold')
                    doc.setFontSize(10);

                    doc.text(y, x, 'Nro.Recibo : ' + data[i].Nro_Recibo);
                    doc.text(y + 80, x, String(i + 1))

                    doc.setFontType('normal')
                    doc.setFontSize(8);
                    //
                    doc.text(y, x + 5, 'Empresa :' + data[i].Empresa);
                    doc.text(y, x + 10, 'Cliente :' + data[i].Cliente);
                    //doc.text(y + 80, x + 10, '361');

                    doc.text(y, x + 15, 'Cta. Cto.:' + data[i].Cta_Cto);
                    doc.text(y + 61, x + 15, 'F_Max :' + data[i].F_Max);

                    var splitTitle = doc.splitTextToSize('Direccion : '  + data[i].Direccion , 90);
                    doc.text(y, x + 20, splitTitle);

                    doc.text(y + 10, x + 28, 'Sello de Recepcion de Empresa');
                    doc.text(y + 40, x + 36, 'Fecha Entrega: _______________');
                    doc.line(y , x + 40, y + 96, x + 40) // horizontal line

                    //--45
                    doc.rect(y + 5, x + 42, 5, 4);  doc.text(y + 12, x + 45, 'Se Mudo');  doc.text(y + 38, x + 45, 'visitas 1era ____2da____3ra____');
                    doc.rect(y + 5, x + 46, 5, 4);  doc.text(y + 12, x + 49, 'No vive  no trabaja');
                    doc.rect(y + 5, x + 50, 5, 4); doc.text(y + 12, x + 53, 'Rechazado');
                    doc.rect(y + 5, x + 54, 5, 4); doc.text(y + 12, x + 57, 'Direccion errada');
                    doc.rect(y + 5, x + 58, 5, 4); doc.text(y + 12, x + 61, 'No hay nadie');
                    doc.rect(y + 5, x + 62, 5, 4); doc.text(y + 12, x + 65, 'Otros  ___________________________________________');

                    doc.text(y, x + 75, 'Nombre : ________________________________________________');
                    doc.text(y, x + 80, 'Doc. Identidad : _______________');

                    x += 95;
                }

                doc.output('dataurlnewwindow');
                doc.save('reclamos.pdf');
            }

            $scope.enviarCorreo_grandesClientes = function () {

                var idServicio = document.getElementById('id_servicio').value;
                var Fecha_asignacion = document.getElementById('id_fecha_asignacion').value;                

                $('.sige-load').show();
                (new PNotify({
                    title: 'Sistemas Confirmación',
                    text: 'Esta seguro de Enviar los Correos?, verifique la FECHA una vez enviado no hay marcha atras..',
                    icon: 'glyphicon glyphicon-question-sign',
                    hide: false,
                    confirm: {
                        confirm: true
                    },
                    buttons: {
                        closer: false,
                        sticker: false
                    },
                    history: {
                        history: false
                    }
                })).get().on('pnotify.confirm', function () {

                    var variables = {
                        method: 'POST',
                        url: '../Importar_Excel/set_EnviarCorreo_grandesClientes',
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        data: {
                            servicio: idServicio,
                            fecha_Asigna: Fecha_asignacion
                        }
                    }
                    $http(variables)
                        .success(function (data) {
                            $('.sige-load').hide();
                                new PNotify({
                                    title: 'Sistemas',
                                    text: 'Proceso de Envio de correo masivo, Realizado Correctamente.',
                                    type: 'success'
                                });
                                $("#modal_envioCorreo").modal('hide');

                            //if (data == 'OK' || data == '"OK"') {
                            //    new PNotify({
                            //        title: 'Sistemas',
                            //        text: 'Proceso de Envio de correo masivo, Realizado Correctamente.',
                            //        type: 'success'
                            //    });

                            //    $("#modal_envioCorreo").modal('hide');
                            //} else {
                            //    $('.sige-load').hide();
                            //    alert(data)
                            //}
                        })
                        .error(function () {
                            $('.sige-load').hide();
                            alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                        });
                }).on('pnotify.cancel', function () {
                    $('.sige-load').hide();
                });
      
            }

            $scope.abrirModal_envioCorreo = function () {

                var idServicio = document.getElementById('id_servicio').value;
                var Fecha_asignacion = document.getElementById('id_fecha_asignacion').value;

                if (idServicio == '0' || idServicio == 0) {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione el Servicio Grandes Clientes. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }

                if (Fecha_asignacion == '' || Fecha_asignacion == '') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccion la Fecha Asignacion. Muchas gracias.',
                        type: 'error'
                    });
                    return;
                }

                if (idServicio == 7 || idServicio == '7') {
                    $('#modal_envioCorreo').modal('show');
                    $scope.cargar_nuevo_Archivo(1);
                    $scope.cargar_nuevo_Archivo(2);

                    $("#panelEmail").removeClass("collapse in");
                    $("#panelEmail").addClass("collapse on");
                }


            }


            $scope.myFile1;
            $scope.myFile2;

            $scope.cargarArchivo = function (tipo) {

                if (tipo == 1 ) { /// archivo 1 
     
                    const file1 = $scope.myFile1;
                    const btn_cargar1 = document.getElementById('btn_cargar1');
                    const btn_cargar2 = document.getElementById('btn_cargar2');
     
                    if (file1 == null) {
                        new PNotify({
                            title: ' ',
                            text: 'Por favor seleccione el Archivo 1',
                            type: 'error'
                        });
                        return;
                    }
                    $('.sige-load').show();

                    var uploadUrl = '@Url.Action("Insertar_archivo")';

                    var fd = new FormData();
                    fd.append('file', file1);
                    fd.append('opcion', 1);
                    $http.post(uploadUrl, fd,
                    {
                        transformRequest: angular.identity,
                        headers: { 'Content-Type': undefined }
                    }).success(function (res) {
                        $('.sige-load').hide(); 
                        if (res.ok == true) {
                            btn_cargar1.disabled = true;
                            btn_cargar2.disabled = false;

                            new PNotify({
                                title: 'Sistemas',
                                text: 'Se cargo el Primer archivo, correctamente.',
                                type: 'success'
                            });

                        } else {
                            btn_cargar1.disabled = false;
                            btn_cargar2.disabled = true;
                            alert(res.data);
                        }               
                        $('.sige-load').hide();
                    })
                    .error(function () {
                        alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                        $('.sige-load').hide();
                    });
                }
                if (tipo == 2) { /// archivo 2

                    const file2 = $scope.myFile2;
                    const btn_cargar2 = document.getElementById('btn_cargar2');
     
                    if (file2 == null) {
                        new PNotify({
                            title: ' ',
                            text: 'Por favor seleccione el Archivo 2',
                            type: 'error'
                        });
                        return;
                    }
                    $('.sige-load').show();

                    var uploadUrl = '@Url.Action("Insertar_archivo")';

                    var fd = new FormData();
                    fd.append('file', file2);
                    fd.append('opcion', 2);
                    $http.post(uploadUrl, fd,
                    {
                        transformRequest: angular.identity,
                        headers: { 'Content-Type': undefined }
                    }).success(function (res) {
                        $('.sige-load').hide(); 
                        if (res.ok == true) {
                            btn_cargar2.disabled = true;

                            new PNotify({
                                title: 'Sistemas',
                                text: 'Se cargo el Segundo archivo, correctamente.',
                                type: 'success'
                            });

                        } else {
                            btn_cargar2.disabled = true;
                            alert(res.data);
                        }               
                        $('.sige-load').hide();
                    })
                    .error(function () {
                        alert('Ocurrio un problema con la conexion, vuelva a intentar.')
                        $('.sige-load').hide();
                    });
                }
    
            }

            $scope.cargar_nuevo_Archivo = function (tipo) {
                if (tipo == 1) { /// archivo 1
                    const btn_cargar1 = document.getElementById('btn_cargar1');
                    $("#file1").filestyle('clear');
                    $scope.myFile1 = null;
                    btn_cargar1.disabled = false;
                }
                if (tipo == 2) { /// archivo 2
                    const btn_cargar2 = document.getElementById('btn_cargar2');
                    $("#file2").filestyle('clear');
                    $scope.myFile2 = null;
                    btn_cargar2.disabled = false;
                }
            }


            $scope.DescargaExcel = function () {

                var id_servicio = document.getElementById('id_servicio').value;
                var id_fecha_asignacion = document.getElementById('id_fecha_asignacion').value;

                if (id_fecha_asignacion == undefined || id_fecha_asignacion == '' || id_fecha_asignacion == '0') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione o ingrese la Fecha de Asignación. Muchas gracias.',
                        type: 'error'
                    });
                    return false;
                }

                if (id_servicio == undefined || id_servicio == '' || id_servicio == '0') {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor seleccione un Servicio. Muchas gracias.',
                        type: 'error'
                    });
                    return false;
                }

                $('.sige-load').show();
                var variables = {
                    method: 'post',
                    url: '../ExportarTrabajosLecturas/DescargarExcel_errorEnvioCorreo',
                    headers: {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    data: {
                        fechaAsignacion: id_fecha_asignacion,
                        servicio: id_servicio
                    }
                }
                $http(variables)
                    .success(function (data) {
                        var res = data.split("|");
                        if (res[0].replace(/["]/gi, '') == "0" || res[0].replace(/["]/gi, '') == 0) {
                            console.log(res[1]);
                        } else {
                            var url = res[1].replace(/["]/gi, '');
                            window.open(url);
                        }
                        $('.sige-load').hide();
                    })
                    .error(function () {
                        $('.sige-load').hide();
                        alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
                    });
            };



        });
    </script>
}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>

    <div ng-app="MyApp" ng-controller="MyController">
        <div class="panel panel-oscuro " style="    margin-top: -13px;">
            <div class="panel-heading">
                <h6><i class="fa fa-table fa-lg"></i> IMPORTAR ARCHIVOS</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 " style="display:none">
                        <label style="width: 150px;" for="_usuario" class="col-sm-1 control-label">Local :</label>
                        <div>
                            <select class="form-control" id="local">
                                <option value="0" selected="selected">-- Seleccione --</option>
                                @foreach (Local oBj in new NLocal().NLista(new Request_Local_Select() { emp_id = ((Sesion)Session["Session_Usuario_Acceso"]).empresa.emp_id }))
                                {
                                    <option value="@oBj.loc_id">@oBj.loc_nombre</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3">
                        <label style="width: 100px;" for="_usuario" class="col-sm-2 control-label">Servicio :</label>
                        <select class="form-control" id="id_servicio" ng-change="ngChangeCount()" ng-model="servicios">
                            <option value="0" selected="selected">-- Seleccione --</option>
                            <option ng-repeat="item in Obj_List_Servicios" value="{{item._a}}"> {{item._b}} </option>
                        </select>
                    </div>

                    <div class="col-sm-3 col-md-3">
                        <label style="width: 150px;" for="_usuario" class="col-sm-2 control-label">Fecha de Asignacion:</label>
                        <div style="width: 250px;">
                            <input class="form-control julio" id="id_fecha_asignacion" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3" id="formOpcion" style="display:none">
                        <label style="width: 100px;color:red" for="cbo_opcion" class="control-label">Opcion :</label>
                        <select class="form-control" id="cbo_opcion" style=" border: 1px solid red;">
                            <option value="1" selected="selected">1. CARGAR</option>
                            <option value="2">2. ACTUALIZAR</option>
                        </select>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-sm-4 col-md-6">
                        <input type="file" class="filestyle" style="height: 38px !important;" file-model="myFile" data-placeholder="Ningun Archivo Seleccionado" data-buttonname="btn-primary" data-size="sm" data-buttonbefore="true" data-buttontext="  Seleccionar Archivo..">
                    </div>

                    <div class="col-sm-8 col-md-6">
                        <button button id="btn_ver" class="btn btn-primary btn-sm" ng-click="uploadFile()"><span class="glyphicon glyphicon-search"></span> ver</button>
                        <button id="btn_nueva" type="button" class="btn btn-success " onclick="window.location.reload(true)"><span class="glyphicon glyphicon-plus"></span> Nuevo</button>
                        <button class="btn btn-default btn-sm" ng-click="Descargar_formato();"><span class="glyphicon glyphicon-save"></span> Formato</button>
                        @*<button class="btn btn-default btn-sm" ng-click="abrirModal_Asignacion();"><span class="glyphicon glyphicon-save"></span> modal</button>*@
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset class="fieldset-border">
                            <legend>Leyenda de errores</legend>
                            <span class="label label-primary">La hoja de Excel tiene que tener por nombre "Importar".</span>
                            <span class="label label-primary">El archivo a subir debe tener todos los bordes definidos.</span>
                            <span class="label label-danger"> Archivos erroneos.</span>
                        </fieldset>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="table-responsive" style="height:250px">
                        <table id="tblLista" class="table  table-bordered table-responsive" cellspacing="0" width="100%">
                            <thead style="background:#F0F3F5;">
                                <tr ng-if="show_Lectura">
                                    <th>Nro fila</th>
                                    <th>Tecnico</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                </tr>
                                <tr ng-if="showReparto">
                                    <th>Nro fila</th>
                                    <th>Unidad de Lectura</th>
                                    <th>Nombre de Unidad Lectura</th>
                                    <th>Total</th>
                                    @*<th>Ver Reporte</th>*@
                                </tr>
                                <tr ng-if="showReclamos">
                                    <th>Nro fila</th>
                                    <th>Distrito</th>
                                    <th>Total</th>
                                </tr>
                                <tr ng-if="showClientes">
                                    <th>Nro fila</th>
                                    <th>Distrito</th>
                                    <th>Total</th>
                                </tr>
                                <tr ng-show="show_otros">
                                    <th>Nro fila</th>
                                    <th>OPERADOR</th>
                                    <th>DISTRITO</th>
                                    <th>CANT. CORRECTO</th>
                                    <th>CANT. ERRONEO</th>
                                    <th>VER DETALLE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="show_Lectura" ng-repeat="item in Lista_Lecturas_Temporal" ng-class="{resaltado: item.id_operario === 0}">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.id_operario_excel}}</td>
                                    <td>{{item.operario}}</td>
                                    <td>{{item.cantidad}}</td>
                                </tr>
                                <tr ng-if="showReparto" ng-repeat="item in Lista_Lecturas_Temporal">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.unidad_lectura}}</td>
                                    <td>{{item.nombre_UnidadLectura}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                                <tr ng-if="showReclamos" ng-repeat="item in Lista_Lecturas_Temporal">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.distrito_suministro}}</td>
                                    <td>{{item.cantidad}}</td>
                                </tr>
                                <tr ng-if="showClientes" ng-repeat="item in Lista_Lecturas_Temporal">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.distrito}}</td>
                                    <td>{{item.cantidad}}</td>
                                </tr>
                                <tr ng-show="show_otros" ng-repeat="item in Lista_Lecturas_Temporal">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.nombre_ope}}</td>
                                    <td>{{item.cor_distrito}}</td>
                                    <td>{{item.cant_correcto}}</td>
                                    <td>{{item.cant_erroneo}} </td>
                                    <td align="center">
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-detallado" ng-click="Lecturas_Detallado(item)">
                                            <span class="glyphicon glyphicon-list"></span> Ver detalle
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-sm-12 text-center" style=" padding-top: 20px; ">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento">
                            <button id="btn_guardar" disabled="disabled" role="button" style="margin-left: 2px" class="btn btn-primary" ng-click="abrirModal_Asignacion();"><i class="fa fa-save fa-lg"></i> Guardar</button>
                            <button class="btn btn-success" ng-click="enviarCorreo();" style="margin-left: 2px" title="Valido para Cortes-Reconexiones"><span class="glyphicon glyphicon-envelope"></span> Enviar Correo</button>

                            <button class="btn btn-info" ng-click="generarRepartoPdf();" style="margin-left: 3px" title="Valido para Cortes-Reconexiones"><span class="glyphicon glyphicon-list-alt"></span> Generar Impresion Reparto</button>
 
                            <div style="margin-left: 3px"  class="btn-group">
                                <button type="button" class="btn btn-success"> Email - Grandes Clientes </button>
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> </button>
                                <ul class="dropdown-menu menuBoton" role="menu">
                                    <li>
                                        <br />
                                        <button class="btn btn-block btn-success" ng-click="abrirModal_envioCorreo();" style="margin-left: 2px" title="Valido para Grandes Clientes"><span class="glyphicon glyphicon-envelope"></span> Enviar Email </button>
                                        <hr />
                                        <button class="btn btn-block  btn-danger" ng-click="DescargaExcel();" style="margin-left: 2px" title="Ver correos no enviados"><span class="glyphicon glyphicon-download-alt"></span> Email no enviados  </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
             </div>
        </div>


        @*modal del detallado*@
        <div id="modal-detallado" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style=" width: 90% !important;">
                <div class="panel panel-oscuro">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i> IMPORTAR ARCHIVO DETALLADO</h6>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <table id="tblListaDetalleLectura" ng-show="openLectura" class="table table-condensed table-bordered table-responsive" cellspacing="0">
                                <thead style="background: #F0F3F5;">
                                    <tr>
                                        <th>Nº fila</th>
                                        <th>Cliente</th>
                                        <th>Direccion</th>
                                        <th>Operario</th>
                                        <th>Medidor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="lista in Lista_Lecturas_Temporal_detallado" ng-style="lista.FLAG_LECTURA === 'S' && {'background-color':'rgba(255, 0, 0, 0.31)'}  || lista.FLAG_LECTURA === '' && {'background-color':'white'}" on-finish-render="ngRepeatFinished">
                                        <td>{{$index + 1}}</td>
                                        <td>{{lista.interlocutor}}</td>
                                        <td>{{lista.direccion_lectura}}</td>
                                        <td>{{lista.nombre_ope}}</td>
                                        <td>{{lista.unidadLectura}}</td>
                                    </tr>

                                </tbody>
                            </table>

                            <table id="tblListaDetallecortes" ng-show="openCorte" class="table table-condensed table-bordered table-responsive" cellspacing="0">
                                <thead style="background: #F0F3F5;">
                                    <tr>
                                        <th>Nº fila</th>
                                        <th>Cliente</th>
                                        <th>Direccion</th>
                                        <th>Operario</th>
                                        <th>Medidor</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in Lista_Lecturas_Temporal_detallado" ng-style="lista.FLAG_LECTURA === 'S' && {'background-color':'rgba(255, 0, 0, 0.31)'}  || lista.FLAG_LECTURA === '' && {'background-color':'white'}" on-finish-render="ngRepeatFinished">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.cor_interlocutor}}</td>
                                        <td>{{item.cor_direccion}}</td>
                                        <td>{{item.nombre_ope}}</td>
                                        <td>{{item.unidad_corte}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                    <button role="button" class="btn btn-default" ng-click="tableToExcel_detallado('#tblListaDetalle')"><i class="fa fa-download fa-lg"></i> Exportar</button>
                                    <button role="button" id="btnCancelar" class="btn btn-default" style="background-color: #fff;" data-dismiss="modal"><i class="fa fa-close fa-lg"></i>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-asignacion" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="width: 300px !important">
                <div class="panel panel-oscuro">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title"><i class="fa fa-calendar fa-lg"></i> Complete los datos..</h5>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal" id="form_asignacionReparto" style="display:none">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="dtp_fechaRecojo" class="control-label">Fecha Recojo</label>
                                    <input class="form-control" id="dtp_fechaRecojo" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="txt_horaRecojo" class="control-label">Hora Recojo   -  ( 24 hora : 60 minutos )</label>
                                    <div class="form-group" style="margin-right: 0px !important;margin-left: 0px  !important;">
                                        <div class='input-group'>
                                            <input input type="text" id="txt_horaRecojo" maxlength="5" style=" font-size: 20px;" value="00:00" class="form-control" placeholder="hora : minutos " />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="txt_cantidadRecibos" class="control-label">Cantidad Recibos</label>
                                    <input input type="number" id="txt_cantidadRecibos" onkeypress="return filterFloat(event,this);" class="form-control" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="dtp_fechaMaxima" class="control-label">Fecha Max. Entrega</label>
                                    <input class="form-control julio" id="dtp_fechaMaxima" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="cbo_ciclo" class="control-label">Ciclo Facturacion :</label>
                                    <input input type="text" id="cbo_ciclo" class="form-control" />
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="_usuario" class="control-label">Fecha Movil</label>
                                <input class="form-control" id="_fecha" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">

                                        <button role="button" class="btn btn-primary" ng-click="GuardarTablaTempLecturas()"><i class="fa fa-save fa-lg"></i> Guardar</button>
                                        <button id="btn_cancel" role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-envioAppMovil" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="panel panel-oscuro">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title"><i class="fa fa-cogs fa-lg"></i>Enviar al Movil</h6>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="fieldset-border">
                                        <legend>Enviar Datos al Aplicativo Movil</legend>
                                        <div class="col-md-12">
                                            <div class="col-md-5">
                                                <div class="form-group form-group-sm">
                                                    <label for="_fechaEnvioMovil" class="col-sm-5 control-label">Fecha Asignacion </label>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group form-group-sm">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input style="width:90px;" class="form-control" id="_fechaEnvioMovil" placeholder="dia/mes/año" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                    <button role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-descarga-formato" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style=" width: 400px; ">
                <div class="panel panel-oscuro">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6 class="modal-title"><i class="fa fa-download fa-lg"></i> DESCARGA DE FORMATO</h6>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="~/Formato/DSIGE-Lectura.xlsx">
                                    <div class="panel panel-primary">
                                        <div class="panel-body" style="text-align: center;">
                                            <i class="fa fa-download fa-4x" style="color: #5bc0de;"></i>
                                        </div>
                                        <div class="panel-footer" style="padding: 10px 5px; font-weight: bold; text-align: center;">LECTURA</div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="modal_envioCorreo" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="width: 80% !important">
                <div class="panel panel-oscuro">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title" style="font-weight: 700;font-size: 15px;">  ENVIO DE CORREO GRANDES CLIENTES</h5>
                    </div>
                    <div class="panel-body">

                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#panelEmail"> Desea adjuntar Archivos ? </button>
                        <div id="panelEmail" class="collapse on">
                            <fieldset class="fieldset-border">
                                <legend style="color: #337ab7">Adjunte los Archivos que desea enviar en el correo</legend>
                                <div class="row">
                                    <div class="col-sm-8 col-md-9">
                                        <label class="control-label" style="color: #337ab7"> SCTR CALIDDA PENSION </label>
                                        <input id="file1" type="file"  accept="application/pdf" class="filestyle" style="height: 38px !important;" file-model="myFile1" data-placeholder="Ningun Archivo Seleccionado" data-buttonname="btn-primary" data-size="sm" data-buttonbefore="true" data-buttontext="  Seleccionar Archivo..">
                                    </div>
                                    <div class="col-sm-4  col-md-3  text-center ">
                                        <div style="margin-top: 17px;">
                                            <button role="button" id="btn_cargar1" class="btn btn-sm btn-success" ng-click="cargarArchivo(1)"><i class="fa fa-save fa-lg"></i> Archivo </button>
                                            <button role="button" class="btn btn-sm btn-warning" ng-click="cargar_nuevo_Archivo(1)"><i class="fa fa-plus fa-lg"></i> Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-8  col-md-9">
                                        <label class="control-label" style="color: #337ab7"> SCTR CALIDDA SALUD </label>
                                        <input id="file2" type="file" accept="application/pdf" class="filestyle" style="height: 38px !important;" file-model="myFile2" data-placeholder="Ningun Archivo Seleccionado" data-buttonname="btn-primary" data-size="sm" data-buttonbefore="true" data-buttontext="  Seleccionar Archivo..">
                                    </div>
                                    <div class="col-sm-4  col-md-3 text-center">
                                        <div style="margin-top: 17px;">
                                            <button role="button" id="btn_cargar2" class="btn btn-sm btn-success" ng-click="cargarArchivo(2)"><i class="fa fa-save fa-lg"></i> Archivo</button>
                                            <button role="button" class="btn btn-sm btn-warning" ng-click="cargar_nuevo_Archivo(2)"><i class="fa fa-plus fa-lg"></i> Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button role="button" class="btn btn-primary" ng-click="enviarCorreo_grandesClientes()"><i class="fa fa-envelope"></i> Enviar Email</button>
                            </div>
                        </div>
                        <br />
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Mantenimiento" style="float: right;">
                                        <button id="btn_cancel" role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-lg"></i> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>





